<meta charset="ut-8">

      **Partioning for Appliances**
        *for wider recognition*

When formatting a flash drive, FAT32 is your best bet for wider recognition by devices like musical keyboards, televisions, etc.
However, the defaults for commands like `mkfs.vfat` seldom work.

This note is to remember the painful exercise I’d to go through to finally make it work with `util-linux` tools.

Format in a Linux machine and it works in (almost) all devices.

# Partition Table

Use `dos`; most devices (still) don’t recolonize `gpt` (yet).

`fdisk` parameters

- Partition Table: `dos`
- Single partition of type: `0c` (_W95 FAT32 (LBA)_)
- Write changes

Below is the (cleaned[^fn1]) output of `sfdisk -d /dev/sdX` of such a flash drive that can be used with a new one `fdisk /dev/sdX < script`

``` shell
label: dos
unit: sectors
sector-size: 512

type=c
```

# Format as FAT32

- bytes / sector = 512
- sectors/cluster = 64 (128 also works)

``` shell
mkfs.vfat -F 32 -S 512 -s 64 /dev/sdXY
```

# References

1. [Script `fdisk`](https://superuser.com/questions/332252/how-to-create-and-format-a-partition-using-a-bash-script)
2. [`sfdisk` man page explanation](https://unix.stackexchange.com/a/752358)
3. `man sfdisk`

[^fn1]: Removed header lines `label-id` and `device`; partition lines’ `/dev/sdXY:`, `start` and `size` fields


<link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/website.css?">
<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>

