<meta charset="utf-8">

    **CMake Notes**

# Build Configurations

Ninja, Visual Studio and Xcode support multiple build configurations (CMake uses multi-config generators for these); use `${CMAKE_CONFIGURATION_TYPES}` to change/re-define the needed configurations.  `cmake --build build --config Debug` builds needed configuration; omitting `--config` uses first item in `${CMAKE_CONFIGURATION_TYPES}`.

!!! Warning: Single vs Multi-config
    CMake silently ignores `${CMAKE_BUILD_TYPE}` with multi-config generators.  Likewise, `--config` is ignored when building from single-config build directory.

# Variable Scopes

Each `CMakeLists.txt` is an independent processing environment.  When a script does `add_subdirectory()`, the child scope inherits its parent’s variables.  If you want variable set in child scope to also be visible in parent scope, [use `set()`’s `PARENT_SCOPE`][set-parent-scope]; it sets the variable in the parent scope.

Use cache variables if you want unrelated scripts (like variables set in toolchain description CMake script) to see the same variable:

``` cmake
set(MY_VAR 123 CACHE STRING)
```

They get stored in `${CMAKE_BINARY_DIR}/CMakeCache.txt`.

Cache variables are meant for user-settable values, so `set`ting an already-cached variable is ignored; use `FORCE` to overwrite.

## Useful Directories

* `${CMAKE_SOURCE_DIR}`: project root
* `${CMAKE_BINARY_DIR}`: build root
* `${CMAKE_CURRENT_SOURCE_DIR}`: currently processed source directory containing `CMakeLists.txt`
* `${CMAKE_CURRENT_BINARY_DIR}`: target’s binary dir inside build root

[set-parent-scope]: https://stackoverflow.com/a/6891527/183120

# Debug CMake Code

``` cmake
include(CMakePrintHelpers)
cmake_print_variables(CMAKE_CXX_FLAGS)
# Print foo and bar's compilation flags
cmake_print_properties(TARGETS foo bar
  PROPERTIES COMPILE_FLAGS)
```

# Generator Expressions

CMake has

1. Configuration Phase
2. Generation Phase
3. Build Phase

Generator expressions are evaluated only in the generation phase which has all the necessary information to evaluate it; the configuration phase simply passes the value set (after checking for valid syntax) to the next phase; actual value can’t be set in configuration phase.  Try printing a value set and notice this.

Useful only in functions where the manual explicitly calls out e.g.

>"Arguments to `target_compile_options` may use "generator expressions" with the syntax `$<...>`."

Using it in `set_target_properties` is futile; its documentation doesn’t allow using generator expressions.

# Dependency Scopes

In `target_link_libraries`, `target_include_directories`, `target_compile_definitions`, etc. one can specify the nature of dependencies.  The options and their visibility (`man cmake-buildsystem`) [[3](#references)]:

1. `PRIVATE`: linked by target; used by a library’s implementation only
2. `PUBLIC`: linked by target and its dependencies; used by a library’s implementation and interface (public headers)
3. `INTERFACE`: linked by target’s dependencies; used by a library’s public headers only

# References

1. [An Introduction to Modern CMake](https://cliutils.gitlab.io/modern-cmake/)
2. [CMake Part 1 -- The Dark Arts](https://blog.feabhas.com/2021/07/cmake-part-1-the-dark-arts/) -- change toolchain with `--toolchain FILE`
3. [CMake target_link_libraries Interface Dependencies](https://stackoverflow.com/q/26037954/183120)
4. [CMake Workshop](https://enccs.github.io/cmake-workshop/)

# See Also

* [CMake Architecture](https://www.aosabook.org/en/cmake.html) by its original authors, Bill Hoffman and Kenneth Martin
* [Using CPack to make a DEB package](https://decovar.dev/blog/2021/09/23/cmake-cpack-package-deb-apt/)
* [CMake Toolchain](https://blog.feabhas.com/2021/09/cmake-part-4-windows-10-host/)
* [Managing dependencies with vcpkg](https://decovar.dev/blog/2022/10/30/cpp-dependencies-with-vcpkg/)
* [It’s Time To Do CMake Right](https://pabloariasal.github.io/2018/02/19/its-time-to-do-cmake-right/)
* [Learn CMake Scripting Language in 15 minutes](https://preshing.com/20170522/learn-cmakes-scripting-language-in-15-minutes)


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><link rel="stylesheet" href="https://morgan3d.github.io/markdeep/latest/apidoc.css?"><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
