<meta charset="utf-8">

    **MSYS2 Quirks**

# `%PATH%` is missing in `$PATH`

When invoking the shell, pass the `-full-path` option e.g. `F:\msys64\msys2_shell.cmd -mingw32 -full-path`; this generally does `MSYS2_PATH_TYPE=inherit`.  `msys2_shell.cmd --help` gives you a good number of options to try out.

# Tools slow outside MSYS2

MSYS2 tools like `which`, `gzip`, `diff`, etc. are very slow  outside MSYS2 (`cmd.exe` or inside Emacs even when Emacs was launched from MSYS2).

## Fix

This is due to Cygwin moving away from deducing user and associated group permissions from files `/etc/passwd` and `/etc/group`; instead it gets them from _Windows' ACL_ database which will usually have many entries when it's a domain-joined machine.  A workaround for this is to do

``` shell
mkpasswd -l -c > /etc/passwd
mkgroup -l -c > /etc/group
```

and disable `db` from `passwd` and `group` in `/etc/nsswitch.conf`.  Here's how the "fixed" portion of `nsswitch.conf` looks like

``` ini
passwd: files # db
group: files # db
```

The issue disucssed [here][1], [here][2], [here][3] and [here][4].

# Bash completion very slow

The fix is discussed [here][5]. TL;DR below:

``` shell
mv /etc/profile.d/bash_completion.sh{,.disabled}
```

# Git Certificate Errors

Git commands bark

```
error setting certificate verify locations:
 CAfile: /usr/ssl/certs/ca-bundle.crt
 CApath: none
```

## Fix

Re-install `ca-certificates` package from the `msys` repositories.


[1]: http://bjg.io/guide/cygwin-ad/
[2]: http://github.com/Alexpux/MSYS2-packages/issues/138
[3]: http://stackoverflow.com/a/1868223/183120
[4]: http://cygwin.com/ml/cygwin/2014-02/msg00306.html
[5]: http://cfc.kizzx2.com/index.php/tag/cygwin-slow-performance-bash-completion/


<link rel="stylesheet" href="https://morgan3d.github.io/markdeep/latest/apidoc.css?">
<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'short' };</script>
