# OAuth 2.0

Delegates user authentication to services that host user accounts like Azure AD,
Google, Facebook, etc.  Work flows provided for desktop, web and mobile apps.

## Roles

1. _Resource owner_ is usually the user or an entity whose resource is to be
   protected
2. _Client_ is an application that needs access to a protected resource
3. _Resource server_ hosts the protected resource
4. _Authorization server_ verifies the identity of the _resource owner_ and
   issues access token to the _client_

The two servers are accessed through their respective APIs.

## Registration
Before using OAuth 2, the application should be registered with the service.
Done via a website, usually a form where the application name, website and
redirect/callback URL is provided.  Once registered, _client identifier_ and
_client secret_ are provided.  Former is public, latter is private that client
uses to establish its authenticity to the authorization server.

## Abstract Flow

1. Application requests authorization from user
2. If successfully application receives _authorization grant_
3. Application presents, to authorization server, its own identity and grant to
   receive an _access token_.  If received, authorization is complete.
4. Application requests resource server with _access token_ to get resource
5. If token valid, resource is served

## Grant Types

1. **Authorization Code**: used with server-side Applications
2. **Implicit:** used with Mobile Apps or Web Applications (applications that
   run on the user's device)
3. **Resource Owner Password Credentials**: used with trusted Applications, such
   as those owned by the service itself
4. **Client Credentials**: used with Applications API access

Former is preferable for short-lived web apps and latter for long-term applications

## Auth Code Grant Flow

1. App requests user consent through web browser control
2. User logs in
3. App receives auth code
4. App requests access token
5. App receives access token


# Reference

https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2#authorization-grant


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.markdeepOptions = {tocStyle: 'short'}</script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
