<meta charset="utf-8">

    **[Combinations & Permutations][src]**

# Combination (order doesn't matter)
    
## No Repetition

### Formula

$$
nCr = {n \choose r} = \frac{n!}{(n − r)! r!}
$$

### Example: choose 3 balls from 5

$n = 5, r = 3, {n \choose r} = 10$

#### Options
1. red
2. green
3. blue
4. yellow
5. orange

#### Choices
1. { red, green, blue }
2. { green, blue, yellow }
3. { blue, yellow, orange }
4. { yellow, orange, red }
5. { orange, red, green }
6. { red, green, yellow }
7. { green, blue, orange }
8. { blue, yellow, red }
9. { orange, blue, red }
10. { yellow, orange, green }

## With Repetition

**Example:** 3 scoops of ice cream to be chosen from 10 flavours

### Formula

$$
\frac{(n + r − 1)!}{r! (n − 1)!}
$$

# Permutation (order matters)

## No Repetition

**Example:** arranging $n$ things in $r$ slots

### Formula

$$
nPr = \frac{n!}{(n − r)!}
$$

## With Repetition
* **Example:** ~~combination~~ permutation lock
* **Formula:** $n^r$

[src]: http://www.mathsisfun.com/combinatorics/combinations-permutations.html


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
