<meta charset="utf-8">

        **SSH Setup**

Client/Host
: Machine on which you’re remoting from.

Server
: Machine to which you’re remoting to.  This is where OpenSSH daemon/service runs.

# Server

Make sure SSH is enabled on the server for all this to work.  On Linux, this means installing Dropbear/OpenSSH Server and having the service running (`systemctl start sshd`) [[1](#references)].  On macOS enable _Remote Login_ from _Preferences -> Sharing_.  On Windows, enable the feature _OpenSSH Server_ and start the service `Start-Service sshd` [[2](#references)].

# Client

On macOS, you’d have SSH pre-installed, if not `brew install openssh`.  On Linux you can install `pacman -S openssh`.  On Windows enable the feature _OpenSSH Client_ feature.

When you want to SSH to a machine once or twice these are okay:

``` shell
ssh my-user-id@host.com
ssh my-user-id@192.168.1.1
```

However, when you want to do this often, the more secure way is to use public-key cryptography.

# Create Key Pair

``` shell
ssh-keygen -t rsa -b 2048 -C "Yodas Steel Saber"
```

Giving a passphrase to protect the private key generated is highly recommended.  This is left empty in case there’re automated scripts in the flow that shouldn’t get interrupted.  The comment is useful to identify the user and user’s machine when the public key is copied to the server.

Two files should get created:

1. `~/.ssh/id_rsa`: private key
2. `~/.ssh/id_rsa.pub`: public key derived from the private key

!!! Tip: Save your passphrase
    You need to enter the passphrase every time you `ssh` to a remote machine.  This has to be saved.  OTOH the fingerprint needn’t be saved since it can be queried from the public key: `ssh-keygen -lvf ~/.ssh/id_rsa.pub` [[6](#references)].

In case you want to change the passphrase

``` shell
ssh-keygen -p
```

Want to change the comment?

``` shell
ssh-keygen -c -C "Brand new comment!"
```

# SSH Config

Create/edit the file `~/.ssh/config` and add an entry for each server you want to remote to [[4](#references)]

``` ssh-config
Host raspi
     Hostname 192.168.1.1
     User admin
```

Now on you can simply do

``` shell
ssh raspi
```

key in the passphrase and you’re in!

Refer to files on the server as `[USER@]HOST:DEST` in programs like Emacs, rsync, etc. e.g. `sundar@tux:/home/rms/Downloads`.

# Copy Public Key to Server

``` shell
ssh-copy-id admin@192.168.1.1
```

This avoids the hassle of manually correctly appending the public key to server’s `~/.ssh/authorized_keys`; no mucking around with permissions too [[4](#references)].

If this step succeeded, this should work (give the private key’s passphrase, not the account’s password):

``` shell
ssh admin@192.192.1.1
```

!!! Note: ∀
    The copying of public key contents to `authorized_keys` needs to be done for all servers you want to remote to.

# Tips

Try turning off DNS in SSH daemon settings (`/etc/ssh/sshd_config`) for better speed [[8](#references)]:

```
UseDNS no
```

Quit a frozen SSH session with <kbd>Enter ~ .</kbd>

# References

1. [How to Instal, Configure and Enable SSH Service in Linux](https://www.ubuntupit.com/how-to-install-configure-and-enable-ssh-service-in-linux/)
2. [How to SSH into a Windows 10 Machine from Linux OR Windows OR anywhere](https://www.hanselman.com/blog/HowToSSHIntoAWindows10MachineFromLinuxORWindowsORAnywhere.aspx)
3. [How to Enable and Use Windows 10’s New Built-in SSH Commands](https://www.howtogeek.com/336775/how-to-enable-and-use-windows-10s-built-in-ssh-commands/)
4. [Simplify Your Life with an SSH Config File](https://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/)
5. [How to automate SSH login with password?](https://serverfault.com/q/241588/)
6. [Calculate RSA key fingerprint](https://stackoverflow.com/a/9607373/183120)
7. [How to Set Up SSH Keys](https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2)
8. [Why is my SSH login slow?](https://superuser.com/q/166359/)


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
