<meta charset="utf-8">

    **Debugging with Qt Creator**

# Specific Debugger

1. Install Qt Creator 3.0.1
2. Extract the GDB 7.4 debugger binary from Qt site and and put is somewhere
3. Point this as a debugger in the _Build & Run_ option of Qt Creator
4. Make sure CMake is installed
5. Make sure GCC 4.8.1 is in `PATH`
6. Make sure MSYS is NOT in `PATH`
7. Add `-std=c++17` to `CMAKE_CXX_FLAGS`
8. Add `-gdwarf-2` or `-gdwarf-3` (4 is not working) to `CMAKE_CXX_FLAGS_DEBUG`
9. Create a new target named _Debug_ in _Projects_ section
10. Click _Run CMake_ where in the arguments pass `-DCMAKE_BUILD_TYPE=Debug` to generate make script for debug build
11. Now the application should be debuggable in GDB 7.4 with the binaries generated using GCC 4.8.1 and Qt Creator 3.0.1

Using TDM or Original MinGW's GDB which has no scripting enabled, works fine in Qt Creator but doesn't have pretty printers

# Alternative Method

1. Make sure [MinGW][] 4.9.1+ (which has GDB 7.7.1) and [CMake][] 3.0.1+ are installed and in `PATH`
2. Install QtCreator 3.1.2
3. In _Tools->Options_ choose the right GCC and GDB from the above installation of MinGW; also point it to the right CMake binary
4. Create a new non-Qt project and choose an appropriate _Build Location_
5. It'll show _CMake Wizard_, where in _Run CMake_ page, set the arguments as `-DCMAKE_BUILD_TYPE=Debug`
6. Choose _MinGW Generator (Desktop)_ and click _Run CMake_ (if it throws an error like required cmake variable not set), click again
7. Add `-std=c++17` to `CMAKE_CXX_FLAGS`
8. Now the project should be debuggable

[MinGW]: http://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/4.9.1/threads-win32/dwarf/
[CMake]: http://www.cmake.org/cmake/resources/software.html


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
