<meta charset="utf-8">

**Mac Development Environment**
  *Sundaram Ramaswamy*

# Getting Around

* Right-click = Two-finger tap
* Start search = <kbd>⌘ + Space</kbd>
* Copy / Paste = <kbd>⌘ + C</kbd> / <kbd>V</kbd>
* App switching = <kbd>⌘ + Tab</kbd>
* Close window = <kbd>⌘ + W</kbd>
* Quit app = <kbd>⌘ + Q</kbd>
* Move desktop left or right = <kbd>Ctrl + ←</kbd> / <kbd>→</kbd>
* Screen off = <kbd>Ctrl + Shift + Power</kbd>
* Lock screen = <kbd>⌘ + Ctrl + Q</kbd>

More cheats at [DDG](https://duckduckgo.com/?q=mac+keyboard+shortcuts&t=ffab&ia=cheatsheet&iax=1)

# Machine Setup

* Update to latest macOS version via _Software Update_
    - Check your model year in _About_
    - Check the newer build’s system requirements e.g. [Mojave’s Technical Specifications](https://support.apple.com/kb/SP777?viewlocale=en_US&locale=en_US)
    - Install via _App Store_
    - _App Store_ might say _Installed_ but _About_ mightn’t
        - The upgrader was downloaded by App Store but wasn’t installed
        - Go to _Applications_ look for a _Install macOS <OS-Codename>_
* Install _Xcode_ from _App Store_ or download from https://developer.apple.com/
    - Accept EULA: `sudo xcodebuild -license accept`
    - Select developer dir: `sudo xcode-select -s /Application/Xcode.app/Contents/Developer`
    - Verify SDK version: `ls -hAgo $(xcode-select -p)/Platforms/MacOSX.platform/Developer/SDKs`
    - Remember: macOS SDK versions are [tied to Xcode versions](https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_13.x_(since_SwiftUI_framework))
* Install _Command-line Tools for Xcode_
    - [Apple developer downloads](https://developer.apple.com/download/more/)
    - Verify: `xcode-select --version` should show a valid version e.g. `2383`
* [Switch Right Alt into Left Command](https://apple.stackexchange.com/q/283252/388563) if your keyboard has one

```
hidutil property --set '{"UserKeyMapping":
    [{"HIDKeyboardModifierMappingSrc":0x7000000e6,
      "HIDKeyboardModifierMappingDst":0x7000000e3}]
}'
```

`sw_vers` gives the OS name, version and build version.

For system updates the easier route is

``` bash
# list available updates
sudo softwareupdate -l

# install by label; use -R if restarting is required
sudo softwareupdate -R -i '<SOME_LABEL>'
```

# Get Tools

* Install [Homebrew](https://brew.sh/) package manager for great developer tools!
    - Update packages: `brew update` and `brew upgrade`
    - Check sanity with `brew doctor`
    - Search packages with `brew search PACKAGE_NAME`
    - Install packages with `brew install PACKAGE_NAME`
* Install iTerm2
    - Pick a nice [colour scheme](https://github.com/mbadolato/iTerm2-Color-Schemes)! _Monokai Remastered_ is good 🙂
* [Install Bash](http://clubmate.fi/upgrade-to-bash-4-in-mac-os-x/)
    - Install `bash-completion2`
    - [Set Bash as default shell](https://apple.stackexchange.com/q/224511/388563)
* Copy customizations
    - [`~/.profile` and not `~/.bashrc`](https://superuser.com/q/147043/50345)
    - `~/.nanorc`
    - `~/.gitconfig`
* Install latest Emacs
    - `brew cask install emacs`
    - You want the one in `/usr/local/bin/emacs` not the one in `/usr/bin/emacs`
    - This linking should be automatic i.e. `brew ln emacs` shouldn’t be needed
* [Optional] Install [GNU tools](https://gist.github.com/xuhdev/8b1b16fb802f6870729038ce3789568f) like `coreutils`, `binutils`, `diffutils`, `nano`, `tree`, etc.
    - Mac comes with BSD’s coreutils, so Brew installs these utils of the same name with a `g` prefix e.g. GNU `ls` will be `gls`
        - `--with-default-names` option removes prefix; makes GNU tools default
    - Prefer aliasing to GNU utils over the prefix approach e.g. `alias ls=gls` in `~/.bash_profile`
* Install `git` and `ccache`
    - Configure [ccache](https://chromium.googlesource.com/chromium/src/+/lkgr/docs/ccache_mac.md)
* [Optional] Install better searchers
    - `ripgrep` -- faster than `grep` and `ack` code searching
      - Install [ripgrep-bin](https://github.com/BurntSushi/ripgrep#installation) for SIMD optimizations
    - `fd` -- faster than `find`
    - `fzf` --  fuzzy completion

!!! Note: `LC_*` Warnings
    When running `mc`, `perl`, etc. you might see warnings for `LC_NUMERIC`, `LC_TIME`, `LC_COLLATE`, … e.g. _Warning: Failed to set locale category `LC_NUMERIC` to `en_IN`_.  To fix this, make sure locale variables aren’t automatically set.  For _iTerm2_, check _Profiles → Terminal → Environment_; for _Terminal_ see _Profiles → Advanced → International_.  In `.profile` an `export LANG=en_GB.UTF-8` should suffice; test with `locale`.  Not using `en_IN` since it’s missing support in macOS.

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.markdeepOptions = {tocStyle: 'short'}</script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
