<meta charset="utf-8">

    **Linux hp Scanner Setup**

Assign a stable IP address to the scanner on your DHCP server.

~~~~ bash
yay -S --needed hplip cups sane

sudo systemctl enable --now cups.service

# Find and setup your device
sudo hp-setup -i

# List devices
scanimage -L

# List device-specific options
scanimage --device 'hpaio:/net/DeskJet_3630_series?ip=192.168.1.5' -A

# Scan image with specifications
scanimage --device 'hpaio:/net/DeskJet_3630_series?ip=192.168.1.5' --resolution 200 --mode Gray -x 210 -y 297 --format=jpeg --output-file ~/tmp/test.jpg --progress
~~~~

# References

1. [Installing an HP Multifunction on ArchLinux](https://blog.desdelinux.net/en/installing-a-hp-multifunction-in-archlinux/)
2. [SANE - ArchWiki](https://wiki.archlinux.org/title/SANE)


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
