<meta charset="utf-8">

    **System Design Guidelines**
    *Curated from Various Sources*

1. **Gall's law**: A complex system that works is invariably found to have evolved from a simple system that worked. A complex system designed from scratch never works and cannot be patched up to make it work. You have to start over with a working simple system.
  - [Don't Let _Architecture Astronauts_ Scare You][arch-astro] -- Joel Spolsky
  - [Vicious circle of generalization][vicious-generalization] -- Tomasz Dąbrowski
    + KISS: Small functional changes should not require big code changes. In a well-designed system, a simple functional requirement, shouldn't mean a change of a huge scale that'll limit such extensions. After all, we want the design to help make more changes/features and not be restricting; a sign of over-engineering.
  - [How to write your own game engine][own-game-engine]
  - Kaizen approach ― tried and tested ― small and incremental
2. **Tesler's law**: Any system there is a certain amount of complexity which cannot be reduced.
3. **Pareto Principle**: For many events, roughly 80% of the effects come from 20% of the causes.
4. **Postel's law**: Be liberal in what you accept, and conservative in what you send. -- John Postel, author of RFC 761 (TCP)
5. **Single Responsibility Principle/Separation of Concerns**: Do only one thing, do it well.
6. [Orthogonality][]: Changing or removing one component has no impact (side effects) on another.
  - **Related**: Single Responsibility Principle
7. [Fail Faster][] -- Mantra for Creative Thinkers
8. **Occam's Razor (Law of Parsimony)**: Simplest explanation is likely the right one and is more testable.
9. **Make it work, make it right, make it fast** -- [part][work-right-fast] of the [Unix Way][]; plenty of blogs [explaining this][wrf-blog].
  - **Related**: Form first, Details next
10. [Form first, Details next][form-first]: in drawing or modelling [the artist goes for the broad strokes first and then adds details later][broad-strokes], when architecting go for the high-level design.  Ensure design integrity at high-level.  Venture into finer design points now; iterate.

# References

1. Unix Design Philosophy
2. [SOLID][]
3. https://lawsofux.com/
4. Pro Python 3

[broad-strokes]: http://www.neilblevins.com/cg_education/primary_secondary_and_tertiary_shapes/primary_secondary_and_tertiary_shapes.htm
[form-first]: https://www.youtube.com/watch?v=OVbIOHAI3iY
[work-right-fast]: http://wiki.c2.com/?MakeItWorkMakeItRightMakeItFast
[wrf-blog]: https://tknilsson.com/2018/05/25/programmer-friday-make-it-work-make-it-right-make-it-fast/
[unix way]: http://wiki.c2.com/?UnixWay
[Fail Faster]: https://www.youtube.com/watch?v=rDjrOaoHz9s
[Orthogonality]: http://www.catb.org/esr/writings/taoup/html/ch04s02.html
[own-game-engine]: https://preshing.com/20171218/how-to-write-your-own-cpp-game-engine/
[vicious-generalization]: https://blog.icare3d.org/2011/04/vicious-circle-of-generalization.html
[arch-astro]: https://www.joelonsoftware.com/2001/04/21/dont-let-architecture-astronauts-scare-you/
[solid]: https://stackoverflow.blog/2021/11/01/why-solid-principles-are-still-the-foundation-for-modern-software-architecture/?cb=1


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
