<meta charset="utf-8">

    **Toolbox**
    Useful tools with their usually-used options

!!! Tip
    [Software tools philosophy][] nicely summarises the synergy of many small tools -- each doing only one thing and doing it well.

!!! Note: [Hat tip][] to [GNU][]’s [Emacs][] and [Bash][]
    This list wouldn’t exist without these excellent tools.  Didn’t document them here as I seldom invoke them with fancy `--flags`.  Their manuals and plethora of online articles do a great job.

!!! Warning: Non-GNU Users Beware
    This page talks about the GNU variant of a tool if others exist i.e. `--flags` discussed here mightn’t be available or would behave differently in other variants e.g. GNU’s `wc` sports the useful `-L` while standard POSIX `wc` doesn’t.

[Software tools philosophy]: https://www.gnu.org/software/coreutils/manual/html_node/Toolbox-introduction.html
[hat tip]: https://en.wikipedia.org/wiki/Hat_tip
[GNU]: https://www.gnu.org/
[Emacs]: https://www.gnu.org/software/emacs/
[Bash]: https://www.gnu.org/software/bash/

# rsync

One-way file synchronisation; `cp` on steroids!  One of the main feature of rsync is that it transfers only the changed block to the destination, instead of sending the whole file.

!!! Note: Server and Client
    `rsync` is useful in transferring files over SSH.  [Both machines should’ve `rsync` installed][rsync-ssh].  For local machine transfers both roles are played by the same `rsync` binary.  In case one of the versions are lesser, you could use `--protocol=OLD_VERSION` to downgrade the more recent one.

[rsync-ssh]: https://unix.stackexchange.com/q/339409/30580

## Example

``` bash
rsync --info=progress2,stats --partial-dir=.rsync-part -ah /media/Src/ /media/Dst

rsync -ah /media/Src username@ip:/mnt/Storehouse

rsync --progress -ah /media/Src/abc.txt /media/Dst/
```

!!! Warning
    Trailing slash in `Src` matters! With it, all _contents_ of `Src` are copied to `Dst`; otherwise it’ll copy the directory `Src` into `Dst`.

## Input

* `-n` for dry run
* `--archive/-a` is perhaps the most useful option; recursive and preserves symlinks, permissions, timestamps, owner and group
* `--partial-dir=.rsync-part` is helpful for time-taking transfers to support resumption
* `--progress` can be shown too
* `-z` enables compression; useful in network transfers
* `--files-from` to specify a file list in source directory
* `--checksum` is helpful if file contents should be inspected in addition to size
* `--exclude=PATTERN` to exclude and `--include=PATTERN` to include file based on `PATTERN`
* `--existing` skips files non-existent in target
* `--itemize-changes/-i` to see differences between source and destination; outputs a change-summary for every file

!!! Warning
    When using `--files-from` option `--archive`’s `--recursive` doesn’t apply. It has to be applied manually, if needed.

## Log

| Operation             | Flag               |
|-----------------------|--------------------|
| Human-readable Output | `-h`               |
| File-level Progress   | `--info=progress`  |
| Overall Progress      | `--info=progress2` |
| Summary               | `--info=stats`     |
| Output Log            | `--log-file=FILE`  |

## References

* [The Geek Stuff][Geek Stuff rsync]

# Pandoc

Swiss-army knife of document conversion.

## Example

``` bash
pandoc -f markdown+smart --self-contained --standalone -o hello.html hello.md
```

would convert a Pandoc-flavoured markdown to a self-contained HTML5 document.

| Specify              | Flag                                        |
|----------------------|---------------------------------------------|
| From format          | `-f SPECIFICATION`                          |
| To format            | `-t` (if omitted auto-deduced from `-o`)    |
| Output               | `-o FILE`                                   |
| Output Header/Footer | `--standalone`                              |
| Self-contained       | `--self-contained` (conflicts: `--mathjax`) |
| MathJax              | `--mathjax[=URL]`                           |
| Section Numbering    | `--number-sections`                         |

# Midnight Commander

[Midnight Commander][mc] is a two-pane, ncurses-based file manager by GNU.  One of the oldest and best of its kind.  An indispensable utility when SSH-ing and otherwise; another option is Emacs _dired_.  In a rare case of a server with SFTP absent, `mc` can also be used to transfer files over its `fish` protocol!  Don’t be fooled by it’s simplicity, it can do file operations in the background and much more.

| Function                              | Key Binding                              |
|---------------------------------------|------------------------------------------|
| Copy selection / marked to prompt     | <kbd>C-/M-Enter</kbd> / <kbd>C-x t</kbd> |
| Copy marked in other panel to prompt  | <kbd>C-x C-t</kbd>                       |
| Copy selection with path to prompt    | <kbd>C-S-Enter</kbd>                     |
| Copy panel path to prompt             | <kbd>C-x p</kbd> / <kbd>M-a</kbd>        |
| Copy other panel path to prompt       | <kbd>C-S-x p</kbd> / <kbd>M-S-a</kbd>    |
| Show dir size (select `..` for all)   | <kbd>C-Space</kbd>                       |
| Show file info/quick view other panel | <kbd>C-x i / q</kbd>                     |
| Sync panels                           | <kbd>M-i</kbd>                           |
| Swap panels                           | <kbd>C-u</kbd>                           |
| Cycle panel view                      | <kbd>M-t</kbd>                           |
| Change panel orientation              | <kbd>M-,</kbd>                           |
| Show dir in other panel               | <kbd>M-o</kbd>                           |
| Dir history list                      | <kbd>M-S-h</kbd>                         |
| Dir history prev/next                 | <kbd>M-y / u</kbd>                       |
| Refresh listing                       | <kbd>C-r</kbd>                           |
| Jump to {top,mid,bottom} file in view | <kbd>M-{g,r,j}</kbd>                     |
| Chmod                                 | <kbd>C-x c</kbd>                         |
| Symbolic link (absolute)              | <kbd>C-x s</kbd>                         |
| Show hotlist                          | <kbd>C-\\<kbd>                           |
| Toggle between console / mc           | <kbd>C-o</kbd>                           |
| Compare files/directories             | <kbd>C-x d / C-x C-d</kbd>               |
| List background jobs                  | <kbd>C-x j</kbd>                         |

!!! Tip
    The _User Menu_ (<kbd>F2</kbd>), is programmable; even the defaults are solid like copying a file to a remote host (SSH), archiving current sub-directory, viewing man page, etc.

!!! Tip
    `-u` skips sub-shell creation; useful workaround for slow start-ups.

!!! Tip: View metadata
    The _View_ command (<kbd>F3</kbd>) is versatile.  It shows metadata about audio, video, images and even binaries (symbols using `nm`); it shows text-extracted view of PDFs!  `mc` does these using scripts; for video it expects `mpv_identify.sh` to be an executable in `PATH`.  ArchLinux’s `mpv` package puts it under `/usr/share/mpv/scripts/mpv_identify.sh`; neither in `PATH` nor an executable.

## References

* [MC like a Pro][]
* [What’s the difference between SFTP, SCP and FISH][fish]
* [MC Cheatsheet][]

[mc]: https://en.wikipedia.org/wiki/Midnight_Commander
[Geek Stuff rsync]: https://www.thegeekstuff.com/2010/09/rsync-command-examples
[MC like a Pro]: http://klimer.eu/2015/05/01/use-midnight-commander-like-a-pro/
[fish]: https://unix.stackexchange.com/q/8707/30580
[MC Cheatsheet]: https://gist.github.com/samiraguiar/9cd4264445545cfd459d

# Tree

List contents of directories as a tree.

``` bash
tree -L 2 -h -P '*.avi|*.mp4|*.srt|*.sub|*.divx|*.mkv|*.iso' --noreport Tamil/ Malayalam/ English/ > contents.txt
```

| Operation                                 | Flag          |
|-------------------------------------------|---------------|
| Max depth                                 | `-L LEVEL`    |
| Show all files (except `.` and `..`)      | `-a`          |
| Show directories only                     | `-d`          |
| Sort by size                              | `--sort size` |
| Wild-card filter                          | `-P PATTERN`  |
| Wild-card ignore filter                   | `-I PATTERN`  |
| Output to file                            | `-o FILE`     |
| Skip dirs exceeding `n` files             | `--filelimit` |
| Append differentiators like `ls`          | `-F`          |
| Summarize Directories                     | `--du`        |
| List dirs before files                    | `--dirsfirst` |
| Colourize (upon missing {LS,TREE}_COLORS) | `-C`          |
| JSON/HTML Output                          | `-J` / `-H`   |

# find

Excellent tool to find files with various search parameters to quickly narrow down, from a deluge of files, to what you’re looking for.  Apart from the plethora of parameters and the conditions on them, one can also mix conditions with logical operators, follow or stop at symlinks, file system boundaries, etc.

It much more sophisticated; though its default behaviour is to print the results to `STDOUT`, it can do much more like run a command or a script on each result!

!!! Note: Pattern specification
    Most parameters taking a pattern expect a [shell pattern][shell_pattern] i.e. [Glob][], while `-regex` expects regular expression pattern.  By default the [Emacs Regular Expression][emacs_regex] syntax is followed, but can be changed with `-regextype` e.g. `posix-extended`.

[shell_pattern]: https://www.gnu.org/software/findutils/manual/html_node/find_html/Shell-Pattern-Matching.html
[Glob]: https://en.wikipedia.org/wiki/Glob_(programming)
[emacs_regex]: https://www.gnu.org/software/emacs/manual/html_node/emacs/Regexps.html#Regexps

## Example 1

``` bash
# Clean all Rust projects each living as a subdirectory under `.`
find -maxdepth 1 -type d ! -path . -execdir cargo clean --manifest-path {}/Cargo.toml \;

find . -maxdepth 3 -type d -iname '.git'

find . -type f \( -name '*hello*.txt' -o -iname '*.md' \) -mtime +7 -size +1M -wriable -print0 | xargs -n1 -0 -I% sed -e 's/hehe/haha/g' %
```

This find all files with

* name having `hello`, ending with `txt` OR name ending with `md`, case insensitively.
* modification time older than a week
* size larger than an MiB
* writable permission

The output -- full file paths concatenated by `NUL` character -- is piped to `xargs` which gives it to `sed` -- the command-line editor -- which replaces all occurrences of `hehe` with `haha`.

## Example 2

Find all broken symlinks in current directory

``` bash
find . -xtype l
```

## Search

* `-name`
* `-maxdepth`
* `-size`
* `-prune`
* `-mtime`, `-ctime`, `-atime`
* `-readable`, `-writable`, `-executable`
* `-ipath`, `-iregex`
* `-samefile` useful finding links to a file

## Output

* `-print0`, `-printf`
* `-ls`
* `-ok CMD ;`
* `-fls FILE`, `-fprintf FILE`
* `-execdir CMD ;` to run `CMD` on each result after switching to its subdirectory
* `-execdir CMD {} +` to run `CMD` on the results within each subdirectory
* `-delete`

# fd

A simpler multi-threaded alternative to `find` written in Rust.  It supports a minimal set of options.  By default, it honours your `.gitignore` and performs a _smart case_ search i.e. case-insensitive unless the pattern has an uppercase character.

``` bash
# Run head on HTML files; ignore some substrings in path
fd -tf -e html -E '*.md.html' -E '*Kenny*' -E '*gli-master*' -E '*golang*' '.*forms' -X head

fd -tf -e jpg -E '*_processed/' -x magick convert {} -resize 50% {.}_small.jpg'

# Run `xxhsum -H64` on all files here and below
fd -tf -X xxhsum -H64 {} > hashes.xxh64

# Print all Git repos under current directory
fd -td -d3 -uu -s '\.git$'

# Print all ('') Org-mode files under 'SubDir'
fd -tf -eorg '' SubDir

# List CMakeLists.txt files sorted by mtime under $PWD; can't use -x here
fd -tf CMakeLists.txt -X ls -Athog {}

# List all files except C and C++ sources
fd -tf -E '*.h' -E '*.cpp' -E '*.c' .

# Sort files by longest line length first
fd -tf -x bash -c 'leny "${0}"' {} | sort -nr
```

!!! Warning: `fd` assumes `-x` is last 🤦
    Always place `-x` (and its args) the last in the command, even after `PATTERN` and `PATH...`, though `man fd` shows it otherwise.  Accidental deletes have occurred due to placing it elsewhere!

!!! Warning
    `fd`, unlike `find`, expects regular expressions by default; `-g` changes to glob.  Otherwise, globs are only used for (`-E`) exclusions.

| Option                          | Flag                         |
|---------------------------------|------------------------------|
| Glob search (not default regex) | `-g` / `--glob`              |
| Include hidden files            | `-H` / `--hidden`            |
| Exclude matching file/dir       | `-E GLOB` / `--exclude GLOB` |
| Filter by full path             | `-p` / `--full-path`         |
| Filter by depth                 | `--{min,max,exact}-depth`    |
| Filter by extension             | `-e` / `--extension`         |
| Filter by size                  | `-S` / `--size`              |
| Filter by date & time           | `--{newer,older}`            |
| Long list files                 | `-l`                         |
| Execute parallel                | `-x`                         |
| Thread count                    | `-j` / `--threads`           |
| Execute batch                   | `-X`                         |
| Batch size                      | `--batch-size`               |
| Limit result                    | `--max-results`              |
| Separate results by NUL (xargs) | `-0`                         |
| Change base directory           | `--base-directory PATH`      |

# ls

To quickly search for directories by name

``` bash
ls -d src*/   # list directories starting 'src'
ls -d */      # list only directories
```

The trailing `/` is to look only for directories; `-d` makes sure `ls` treats directories as files, thereby not further listing their contents.

!!! Warning: Brough to you by ~~`ls`~~ _Bash_!
    `ls` doesn’t pattern match.  Bash does shell expansion on `*/`.  Its output is fed to `ls`.

# which

`which` is used to know the full path of commands.  However, using a separate process, when there’re shell builtins, is redundant and [less efficient][which-inefficient].  Use `type` or `command` [instead][which-alternatives]:

``` bash
# Prints the type of a command; full path if it's of type `file`.
type echo

# Same as above but all results if there're multiple.  First will be executed
# if run and also shown without -a.
type -a echo

# Print the first file result of command by force checking $PATH.  Use -a to
# know all file results.  -P ignores all non-file results.
type -P echo

# Same as above but doesn't force a new $PATH check.
# Print command's all file results; skips non-file results.
type -pa echo
```

If you want to [check a command’s existence in a (portable) shell script][which-script] use `[ -x "$(command -v foo)" ]`; it returns true if an executable file exists at reported path.

[which-inefficient]: https://stackoverflow.com/a/677212/183120
[which-script]: https://stackoverflow.com/a/26759734/183120
[which-alternatives]: https://unix.stackexchange.com/q/85249/30580

# lftp

Command-line file transfer Swiss army-knife for several protocols like HTTP, FTP, FISH, SFTP, BitTorrent, etc.  It has its own prompt; it can download in background.

It can download files in parts, in parallel.

## Example

``` bash
lftp
> pget -n4 http://ftp.sh.cvut.cz/slax/Slax-9.x/slax-64bit-9.7.0.iso
```

# diff

Compare two text files quickly side-by-side, ignoring common lines

``` bash
diff -y --suppress-common-lines FILE1 FILE2
```

However, `diff` can do more: you could compare two directories at a high-level too

``` bash
diff -rq DIR1 DIR2
```

e.g. output

``` text
Only in DIR1: .git
Files A/test and B/test differ
```

Interesting options

* `-q`: report only when files differ
* `-r`: recurse sub-directories
* `-i`: ignore case
* `-y`: side-by-side
* `--x PAT`: exclude files matching `PAT`
* `--ignore-file-name-case`: ignore case when comparing file names
* `--starting-file=FILE` start with `FILE` for dir comparisons

# cmp

Compare binary two files

``` bash
cmp -l FILE1 FILE2
```

Without arguments it just reports whether the files differ and, if so, the first differing byte.

* `-b` print first differing byte’s line, position, integer values and actual values
* `-l` verbose; print all differing bytes’ position and integer values

# tar

Archives and unarchive files, optionally employing a de/compression algorithm like xz, bz2, lzma, zstd, ….

``` bash
tar -cvaf FILE.tar.xz FILE1 [FILE2 ...]
tar -tvf FILE.tar.bz2
tar -xvpf FILE.tar.lz
```

* `-c`/`-x`/`-t` Compress/eXtract/lisT
* `-v` verbose; list processed files (long lists with `-t`)
* `-f FILE` output/input file
* `-a` auto-compress; deduce algorithm based on filename suffix
* `-T FILE` to get file list from `FILE`
* `-p` usable with `x` to extract preserving permissions

!!! Warning: [`.zip` vs `.tar.*`][zip-vs-tar.gz]
    A zip archive is a collection of compressed files while a compressed tarball is a compressed collection.  Be mindful of the difference!  For voluminous collections this means random access/decompress with zip that’s not possible with a compressed tarball.

!!! Tip: [Only root user can preserve ownerships][tar-root-ownerships]
    Run `sudo tar` to preserve ownerships.  Though there’s `--same-owner`, it only works for root user in *nix systems as specified by POSIX.

[zip-vs-tar.gz]: https://stackoverflow.com/a/10540952/183120
[tar-root-ownerships]: https://askubuntu.com/a/463345/43759

# 7-zip

Archiver with support for many formats along with its own `.7z`.

``` bash
# extract with full paths
7z x test.7z -oOutDir

# extract without paths all libraries under lib
7z e libglfw.7z -oOutDir 'lib/*.a'

# create archive; use ./ to skip dir prefix; -ssw to prevent skipping files in use
7z a test.7z FILE1 [FILE2 ...]

# list files
7z l test.7z

# list supported formats, codecs, hashes and modules (.so/.dll)
7z i

# filter with BCJ2 and compress with LZMA2; check `man 7z`
7z a -m0=bcj2 -m1=lzma2:fb=64:d=32m -ms -mmt=4

# hash xxh64
7z h -scrcxxh64 abc.txt

# Archive files (recursively) excluding some paths
7z a backup.7z . -xr'!*.obj' -xr'!build*'

# Archive files of some extensions excluding some wildcard patterns
7z a backup.7z -ir{'!A,'!B}'/*.'{cpp,h,vcxproj'*',props,msbuild} -xr'!*Debug*' -xr'!*Release*'
```

!!! Tip: Formats and Codecs
    Archives are no different from audio/video files; both are data bundles compressed using a codec and stored in container format.  [PPMD][] is a codec and `.pmd` is a format.  LIZARD, BROTLI, LZ5, LZMA2, ZSTD, … are codecs/compression methods while `.liz`, `.tlz5`, `.deb`, … are formats.

!!! Note: [`7za`, `7zr` and `7z`][7za]
    `7za` is a standalone executable supporting a limited set of formats: `.7z`, `.xz`, `.lzma`, `.cab`, `.zip`, `.gzip`, `.bz2`, etc.  `7zr`, slimmer than `7za`, handles just `.7z`, `.xz` and `.lzma`.  `7z` has open architecture, extended by modules, supporting wider formats like `.iso`, `.dmg`, `.gpt`, `.rpm`, etc.

!!! Warning: Permissions and Links
    7z doesn’t preserve permissions as of 17.04.  Links also don’t seem to be preserved; using `-l` might help.  Use `tar.xz` if you need permissions and links to be preserved.

!!! Tip: No 7z?  `tar` works!
    BSD `tar` understands `.7z`; GNU’s doesn’t.  Useful if you can’t install 7-zip.

[7za]: https://superuser.com/a/1105522/50345
[PPMD]: https://en.wikipedia.org/wiki/Prediction_by_partial_matching

# Less

Default pager on most *nix machines.  It can number each line like `nl`.  It can follow a growing file -- like `tail -f` -- too!

``` bash
less -N +F FILENAME
```

Do a <kbd>Ctrl + C</kbd> to pause following and <kbd>F</kbd> to resume.  Use `-R` to make less output ANSI colour escape sequences in raw form.

Press `s` to save paged contents into a file.

## References

1. [Follow with less](https://stackoverflow.com/a/28043302/183120)
2. [Set `LESS` options](https://stackoverflow.com/a/26069/183120)

# FFmpeg

Versatile audio, video and subtitles processing software -- all from the terminal.  You build a pipeline with filters, feed streams through it and get the desired output.

## Pipeline

Input (file) -> _Demux_ -> _Decode_ -> Raw Frames (stream) -> _Filter_ -> _Encode_ -> _Mux_ -> Output (file)

********************************************************************************************************
*                                                                                                      *
*                             .----------.     .------.     .--------------.                           *
*                         .-->+ Stream 1 +--->| Decode +--->+ Raw Stream 1 +---                        *
*                        |    '----------'     '------'     '--------------'                           *
*                        |                                                                             *
* .------.     .-----.   |    .----------.     .------.     .--------------.                           *
* | File +--->| Demux +--+--->+ Stream 2 +--->| Decode +--->+ Raw Stream 2 +---                        *
* '------'     '-----'   |    '----------'     '------'     '--------------'                           *
*                        |                                                                             *
*                        |    .----------.     .----.                                                  *
*                         '-->+ Stream 3 +--->| Copy +-------------------------                        *
*                             '----------'     '----'                                                  *
*                                                                                                      *
*     __________________                                                                               *
*    /                 /    .--------------.     .------.    .----------.                              *
* --+  Filter Graph 1 +---->+ Raw Stream 4 +--->| Encode +-->+ Stream 4 +--.                           *
*  /_________________/      '--------------'     '------'    '----------'   |                          *
*     __________________                                                    |                          *
*    /                 /    .--------------.     .------.    .----------.   |    .---.     .------.    *
* --+  Filter Graph 2 +---->+ Raw Stream 5 +--->| Encode +-->+ Stream 5 +---+-->| Mux +--->+ File |    *
*  /_________________/      '--------------'     '------'    '----------'   |    '---'     '------'    *
*                                                                           |                          *
*                                                                           |                          *
* -------------------------------------------------------------------------'                           *
*                                                                                                      *
*                                                                                                      *
********************************************************************************************************
[Figure [diagram]: FFmpeg’s central pipeline]

De/mux
:    A de/muxer operates on a file; chosen by file’s extension or specified manually by `-f`.  Demux stage takes a file as input and outputs one or more (encoded/compressed) streams e.g. `matroska` demuxer takes a `.mkv` file and outputs 1 video, 2 audio, 1 subtitle streams; they’ll be in encoded form.  Mux stage is the inverse.  List de/muxers with `-demuxers`/`-muxers`.  Get help on specific component with `ffmpeg -h muxer=Ogg`.

De/Encode
:    De/encoder operates on a stream; chosen by the default de/encoder registered by de/muxer or overridden with `-codec[:STREAM]`.  Decode stages takes a compressed stream as input, decodes/uncompresses frames in the stream and gives out uncompressesed stream e.g. `libvorbis` takes a [Vorbis][]-encoded stream and outputs raw stream.  Inverse of Decode stage is Encode.  List codecs with `ffmpeg -codecs`; this will show both encoders and decoders for each codec.  `-encoders`/`-decoders` shows details about each component.  De/encoder-specific details, presets and options are listed in `ffmpeg -h encoder=h264_nvenc`.  Try `ffmpeg -codecs | grep vorbis; echo; ffmpeg -encoders | grep vorbis`.

Filter
:    A filter is a mathematical function taking in one or more streams and outputting one or more streams after transformation e.g. the `volume` filter takes a stream, changes its volume and returns a new stream.  List filters with `-filters`.

Filtergraph
:    Series of user-specified filters pieced together, by plugging output of one as input to another, form a _filtergraph_.  Streams of raw frames are fed through filtergraphs e.g. a raw audio stream may be passed through an `atrim` (clipping a portion of it) and `afade` (to fade-out stream towards its end) filters giving out a shorter, fading out stream.  Not all filters are pure transforms, there are also source and sink filters; refer Kinds of Filters subsection.

!!! Note: Two Pipelines
    There’re two kinds of pipelines here: (a) FFmpeg-provided implicit pipeline (b) user-built programmable pipeline to process raw streams.  From here on we’ll call (a) _central pipeline_ and (b) _filtergraphs_.  When you run FFmpeg, there’ll always be one central pipeline (whose stages are somewhat fixed) but one or more filtergraphs.

## Streams

!!! Tip: Metadata and streams
    `ffprobe -i FILE` lists all streams in a file along with metadata.

Options usually take stream(s).  Streams coming from file inputs have IDs e.g. `0:v:1` implies (file) input 0, video stream 1; `1:s:0` means first subtitle stream of input 1; `1:0` means second input’s first stream (it could be audio, video, subtitle or data).  `0:a` means all audio streams of input 0.  For instance, `-vcodec` (long for `-c:v`) sets the codec for all video streams, while `-c:v:1` sets it only to the second stream.

!!! Note: Position matters!
    Options given _before_ an `-i INPUT` affect _that_ input file; options given before every output affects _that_ output e.g. when preceding an output `-c:v` selects an encoder, while preceding an input a decoder.

!!! Tip: [Explicit mapping][ffmpeg-map]
    By default ffmpeg maps _only one_ stream of each type (video, audio, subtitle).  [Automatic stream selection][ffmpeg-stream-sel] logic isn’t easy to remember so explicit mapping is usually better.  _Auto mapping is disabled if `-map` is passed for an output file_.  `-map 0` maps _all_ streams of input file `0` to output file; `-map 0:a` maps all audio streams; `-map 0 -map -0:a:1` maps all input `0` streams except its second audio.  `-map`s order = output streams order.  Map associates streams to output file it _precedes_.

### Stream Copying

A special `-codec` option `copy`, does only de/mux and _skips de/encode_ i.e. stages in the central pipeline becomes: Input -> _Demux_ -> _Mux_ -> Output.  It’s plain data copy; so is, obviously, lossless and fast.

!!! Warning: Unspecified codec = Re-encode ≠ `copy`!
    [Documentation][ffmpeg-stream-handle]: _If no `-codec` option is specified for a stream type, ffmpeg will select the default encoder registered by the output file muxer._  To skip re-encoding, explicitly specify codec as `copy`.

!!! Tip: Copy everything and make exceptions
    It’s cleaner to first specify copying for all streams and then change codecs for specific streams needing transcode e.g. `-c copy -c:v:1 libx264 -c:7 libvorbis` copies all but second video and seventh (audio) stream.  `-h muxer=MUXER` prints the default codecs (but not default encoder e.g. `-h muxer=matroska` prints `Default video codec: h264` but multiple encoders are present for [h264][]).

## Options

| Operation                     | Flag                                              |
|-------------------------------|---------------------------------------------------|
| List codec, format, coders    | `-{codec,format,{en,de}coder,{de,}muxer,filter}s` |
| Per-topic help                | `-h TYPE=NAME` e.g. `muxer=matroska`              |
| Input file                    | `-i`                                              |
| Codec selection               | `-c[:STREAM]`/`-codec[:STREAM]`/`-c:v`/`-c:a`     |
| Simple filtergraph spec       | `-filter[:STREAM]`/`-af`/`-vf`                    |
| A/V/S/D removal if automatic  | `-an`/`-vn`/`-sn`/`-dn`                           |
| A/V/S preset                  | `-vpre`/`-apre`/`-spre`                           |
| A/V bitrate                   | `-b:v 1M` / `-b:a 640k`                           |
| Force file format (de/muxer)  | `-f FMT`                                          |
| Per-stream output frame count | `-frames[:STREAM] COUNT`                          |
| Video frame rate              | `-r:STREAM 30`                                    |
| Video aspect ratio            | `-aspect:STREAM 16:9`                             |
| Video frame size              | `-s:STREM WxH`                                    |
| Audio frequency               | `-ar:STREAM 44100`                                |
| Audio chennels                | `-ac:STREAM 5.1`                                  |
| Limit input/output            | `-t duration`                                     |
| Start time                    | `-ss TIME`                                        |
| Stop time                     | `-to TIME`                                        |
| Loop stream (input)           | `-stream_loop TIMES`                              |
| End output on shortest stream | `-shortest`                                       |
| Copy/Ignore unknown streams   | `-{copy,ignore}_unknown`                          |
| Hide copyright/build banner   | `-hide_banner`                                    |

!!! Tip: Presets
    If you specify a lot of options (clumsy on the terminal) or plan to use a set of settings often, create a preset (`.ffpreset`); few are already at `/usr/share/ffmpeg`.  Refer `man ffmpeg`.

## Filtering

_Filtering_ is processing of raw A/V frames.  Several filters can be chained together forming a _filtergraph_.  _Simple filtergraphs_ are linear; just one input and output of the same stream type, configured with per-stream `-filter` options e.g. deinterlace and scale of a video stream to another.  Everything else is complex, configured with global `-filter_complex`.

**************************************************
*                                                *
* .-------.    .----.     .-----.     .--------. *
* | Input +-->+ Crop +-->| Scale +--->+ Output | *
* '-------'    '----'     '-----'     '--------' *
*                                                *
**************************************************
[Figure [diagram]: A simple filtergraph]

### Kinds of Filters

- **Source**: takes no inputs e.g. `anoisesrc` generates coloured noise signals
- **Transform**: takes input streams, does some transform and outputs streams
- **Sink**: has no outputs (rare practically)

### Filtergraph

The power of FFmpeg comes from the ability to build filtergraphs.  You plug the output (stream) of a filter as input to another e.g. `concat` in a series of transforms.  You can also use the `split` filter to fork the stream into two linear chains and merge them back with filters like `overlay`, `amerge`, etc.  E.g.

``` bash
ffmpeg -i INPUT -vf "split [main][tmp]; [tmp] crop=iw:ih/2:0:0, vflip [flip]; [main][flip] overlay=0:H/2" OUTPUT
```
**Result**: top half of the video is mirrored onto the bottom half.

*********************************************************************************************
*                                                                                           *
*                                                               .-------.        +--------+ *
*                                .---------------------------->| overlay +----->/ OUTPUT /  *
*                               /                               '-------'      +--------+   *
*                            [main]                                 ^                       *
*  +---------+     .-----.    /                                     |                       *
*  |  INPUT  +--->| split |--+                                      |                       *
*  +---------+     '-----'    \                                  [flip]                     *
*                            [tmp]                                  |                       *
*                               \      .------.       .-----.       |                       *
*                                '--->+  crop  +---->| vflip +------+                       *
*                                      '------'       '-----'                               *
*********************************************************************************************

!!! Note: Input/Output plugs to linear chain vs non-linear
    When using `-vf`, `-af`, `-filter_complex`, … use `,` between filters of the same linear chain; use `;` between distinct linear chains.  In linear chains the output of a filter is implicitly fed to the next as input.  Use labels between different chains to achieve the same e.g. `[flip]` in above example is chain 2’s output fed to chain 1.

### Syntax of Complex Filters

Complex filters specified in `-filter_complex` have the syntax

```
[in_link_1]...[in_link_N]filter_name@id=arguments[out_link_1]...[out_link_M]
```

The `[flip]` after `vflip` above is an output stream label that’s used as input to another filter or through `-map [flip]` (refer `man ffmpeg`; _Manual stream selection_ [11]).

## Use Cases

* Apply a series of audio and video filters.  Preview with `ffplay`.

``` bash
# play with no audio and the eq filter
ffplay -an -vf "eq=brightness=0.3:saturation=1.7" VID.mp4

# reduce noise, boost voice
ffmpeg -i VID.mp4 -af "afftdn,highpass=f=200,lowpass=f=3000,volume=2.8" OUT.mp4

# play with no video and a series of audio filters
ffplay -vn VID.mp4 -af "afftdn,highpass=f=200,lowpass=f=3000,volume=2.8"

ffmpeg -i VID.mp4 -af "volume=2.5" -vf "eq=brightness=0.4" OUT.mp4

# scale=w:h; specify -1 for one to maintain aspect ratio
ffmpeg -i VID.mp4 -vf "scale=640:480" OUT.mp4

# scale and set SAR (Sample Aspect Ratio) to 1:1 if scale isn’t AR-preserving
# if omitted, ffmpeg sets a SAR to compensate and players mightn’t display it well
# https://trac.ffmpeg.org/wiki/Scaling
ffmpeg -i Org.mov -vf scale=1920:1080,setsar=1:1 New.mp4

# crop=w:h:x:y
ffmpeg -i VID.mp4 -vf "crop=320:240:20:30" OUT.mp4

# double speed; value > 1 _reduces_ speed; use -af atempo to alter audio speed
ffmpeg -i VID.avi -vf "setpts=0.5*PTS" OUT.mp4

# rotate 90° clockwise
ffmpeg -i VID.mp4 -vf "transpose=1" OUT.mp4
```

* Create video by combining video and audio from different files/streams.

``` bash
# `-c copy` copies all streams; `-c:v libx264` H.264-encodes all video streams
ffmpeg -i VID.mp4 -i AUD.wav -map 0:0 -map 1:1 -c copy -shortest OUT.mp4

# assume V{0,1}.mp4 are of same length with same video, different audios and same subtitle; reorder as
# copy input 0's video 0, all audios of 0 and 1, 0's subtitles; -map's order = output streams order
ffmpeg -i V0.mp4 -i V1.mp4 -map 0:v:0 -map 0:a -map 1:a -map 0:s -c copy OUT.mp4
# `-c copy` preceding `OUT.mp4` ensures no streams are re-encoded; refer § Stream Copying

# extract images at 1 frame/sec and save as JPEGs; refer 'man ffmpeg' for images -> video
ffmpeg -i VID.avi -r 1 -s 640x480 -f image2 FOO-%03d.jpeg
```

* Scale, add audio, concatenate and transcode[^transcode] using filtergraphs

``` bash
ffmpeg -i A.mp4 -i B.mp4 -i C.wav -filter_complex "[0:v]scale=1200:1080:flags=bicubic[v0]; [1:v]scale=1200:1080:flags=bicubic[v1]; [v0][0:a][v1][2:a]concat=n=2:v=1:a=1[v][a]" -map "[v]" -map "[a]" -c:v libx264 -c:a libvo_aacenc final.mkv
```

* Add audio delay at the beginning:

``` bash
ffmpeg -i IN.mkv -map 0 -c:v copy -c:s copy -c:a:0 'aac' -b:a:1 64k -af 'adelay=delays=500:all=1' -shortest OUT.mkv
```

* Mute audio for some duration (refer `man ffmpeg-utils` for functions like `gte()`, `between()`, …)

``` bash
# use ',' for multiple filters e.g. "volume=enable='between(t,3,7)':volume=0, volume=enable='between(t,12,15)':volume=0"
ffmpeg -i MY.mp4 -af "volume=enable='between(t,3,7)':volume=0" -c:v copy OUT.mp4
```

* Re-encode streams.

``` bash
ffmpeg -i AUD.mp3 OUT.ogg   # simple conversion

ffmpeg -i VID.mp4 OUT.webm  # ffmpeg chooses right codecs allowed by container

# re-encode with best quaility
ffmpeg -i Slides.mov -q:v 0 Slides.mp4

# pixel format with wider support on mobiles
ffmpeg -i IN.mov -vcodec hevc -pix_fmt yuv420p -acodec aac OUT.mp4

# copy all streams without touching them except audio streams (convert to aac)
ffmpeg -i IN.mov -c copy -c:a aac OUT.mkv
```

* Clip streams approximately as there mightn’t be key frames where you’re cutting.

``` bash
ffmpeg -ss 2:28 -to 6:42 -i IN.mp4 OUT.mp4
# Subtitles are supported too :)
# https://video.stackexchange.com/a/34387/26499
ffmpeg -i IN.srt -ss 10:23.94 OUT.srt
```

Issuing `-ss` on output, decodes input but discards writing to output, may give closer approximations, but is slower; on input it’s simply an i-frames seek (approximate).  [Using `-ss` on both input and output][ffmpeg-seek] is optimal.

* Clip streams [accurately][ffmpeg_keyframes]!

``` bash
# add key frames at clip begin and end
ffmpeg -i IN.mp4 -c copy -force_key_frames '2:29,6:24' TEMP.mp4
ffmpeg -ss 2:29 -to 6:24 -i TEMP.mp4 -c copy OUT.mp4
```

* Extract audio (without re-encode) from video after an initial skip (`-ss`); use `-t` if you want to cap duration of extraction

``` bash
# no video, copy audio
ffmpeg -i av.mp4 -ss 00:00:02 -vn -c:a copy audio_2.m4a
```

* Concatenate two audio streams

``` bash
# n=2 --> two input segments (segment = video and audio streams in sync); v=0:a=1 --> output one audio and no video stream
ffmpeg -i audio_1.m4a -i audio_2.m4a -filter_complex "[0:a] [1:a] concat=n=2:v=0:a=1" audio.m4a
```

* Strip metadata

``` bash
# copy all streams while stripping metadata (-1)
ffmpeg -i IN.mp3 -c copy -map_metadata -1 OUT.mp3
```

* Trim a part of the video

``` bash
# extract minute 2 of a large video
ffmpeg -i big.mp4 -vf "trim=60:120" clip.mp4
```

* Clip out a part of larger video (inverse of what `trim` filter does)

``` bash
ffmpeg -i big.mp4 -vf "select='between(t,0,2:02)+between(t,3,3:40)',setpts=N/FRAME_RATE/TB" -af "select='between(t,0,2:02)+between(t,3,3:40)',asetpts=N/SR/TB" out.mp4
```

* Scale and re-encode a video and concatenate it with another

``` bash
# concact's input pads/labels need to be segments of sync'd audio-video streams (or audio/video-only streams)
# vsync parameter was added as with it there's a warning to add: 'Frame rate very high for a muxer not efficiently supporting it.'
ffmpeg -i Part_1.mp4 -i Part_2.mov -filter_complex "[1:v]scale=1920:1080,setsar=1:1[x];[0:v][0:a][x][1:a]concat=n=2:v=1:a=1" -vsync vfr Final.mp4
```

* Reduce volume, fade out an audio stream and merge with another

``` bash
ffmpeg -i AV.mp4 -i BGM.webm -filter_complex "[1:a]volume=0.1[x]; [x]afade=t=out:st=105[y]; [0:a][y]amerge=inputs=2" Final.mp4
```

* Loudness normalization (2 pass)

``` bash
ffmpeg -i input.mp4 -af loudnorm=I=-23:LRA=7:tp=-2:print_format=json -f null -

ffmpeg -i input.mp4 -af loudnorm=I=-23:LRA=7:tp=-2:measured_I=-30:measured_LRA=1.1:measured_tp=-11 04:measured_thresh=-40.21:offset=-0.47 -ar 48k -y output.mp4
```

* Elongate video repeating last frame

``` bash
# say 0:v is 7 seconds, this outputs a 27 seconds stream
ffmpeg -i AV.mp4 -vf "tpad=stop_mode=clone:stop_duration=20" OUT.mp4
```

* Extract subtitle stream into a file; `ffmpeg -filters` for available formats

``` bash
# when there's only one subtitle stream
ffmpeg -i AV.mkv AV.srt

# map first subtitle stream into SubStation Alpha (.ass) format; explicitly specify copy
ffmpeg -i AV.mkv -c:s copy -map 0:s:0 AV.ass
```

* Select two streams: copy audio and transcode video with hardware acceleration; [refer][ffmpeg-so-hwaccel] for an example of h/w accel. transcode workflow.

``` bash
# NOTE: choose a H/W accelerated encoder i.e. not something like `libx264`
ffmpeg -benchmark -hwaccel cuda -hwaccel_output_format cuda -i IN.mkv -map 0:0 -c:v:0 h264_nvenc -preset p6 -map 0:2 -c:a:0 copy OUT.mp4
```

* Dump data stream from an input

``` bash
# Explicitly choose data muxer with `-f data`; usually deduced by file extension
# https://ffmpeg.org/ffmpeg-all.html#data
# https://stackoverflow.com/a/63053691/183120
ffmpeg -i input -map 0:d -c copy -copy_unknown -f data raw.bin
```

* Capture a window on Linux

``` bash
ffmpeg -f x11grab -framerate 25 \
    $(xwininfo | gawk 'match($0, /-geometry ([0-9]+x[0-9]+).([0-9]+).([0-9]+)/, a)\
      { print "-video_size " a[1] " -i +" a[2] "," a[3] }') \
    -vf scale=800:600 -vcodec hevc -pix_fmt yuv420p \
    $(date +%Y-%m-%d_%H-%M_%S).mp4
```

!!! Tip: Capture webcam, mic or screen and stream to RTP
    On macOS, capture the screen and mic using `ffmpeg -f avfoundation -framerate 30 -i "1:0" cast.mp4`.  Refer [[18](#ffmpeg/references)] on how to capture mic and stream to RTP; `man ffmpeg-devices` has a detailed guide.

## References

1. `man ffmpeg`, `man ffmpeg-filters` and `man ffmpeg-utils`
2. [A Quick Guide to using FFmpeg to convert media files](https://opensource.com/article/17/6/ffmpeg-convert-media-file-formats)
3. [20+ FFmpeg commands for Beginners](https://ostechnix.com/20-ffmpeg-commands-beginners/)
4. [FFmpeg and VP9 Encoding Guide](https://trac.ffmpeg.org/wiki/Encode/VP9)
5. [Encoding Video for the Web](https://gist.github.com/Vestride/278e13915894821e1d6f)
6. [Using complex filter](https://stackoverflow.com/a/55463101/183120)
7. [concat and scale simultaneously](https://stackoverflow.com/a/48853654/183120)
8. [Mute specified sections](https://stackoverflow.com/q/29215197/183120)
9. [What does “copy” do](https://stackoverflow.com/q/38379412/183120)
10. [Cut multiple parts of a video with ffmpeg](https://stackoverflow.com/q/50594412/183120)
11. [Replace audio stream in video with multiple audio streams?](https://superuser.com/a/800251/50345)
12. [Repeat last frame in video using ffmpeg](https://stackoverflow.com/a/43417253/183120)
13. [Convert MOV to MP4](https://stackoverflow.com/q/12026381/183120)
14. [Scaling - FFmpeg Wiki](https://trac.ffmpeg.org/wiki/Scaling)
15. [Extract audio from video with ffmpeg?](https://stackoverflow.com/q/9913032/183120)
16. [Audio Loudness Normalization With FFmpeg](https://medium.com/@peter_forgacs/audio-loudness-normalization-with-ffmpeg-1ce7f8567053)
17. [Useful FFmpeg Commands](https://www.labnol.org/internet/useful-ffmpeg-commands/28490/)
18. [Capture mic and stream to RTP](https://stackoverflow.com/a/40591306/183120)
19. [Add chapters to MP4](https://ikyle.me/blog/2020/add-mp4-chapters-ffmpeg)
20. [How to record a specific window using ffmpeg?](https://stackoverflow.com/q/25396784/183120)
21. [HW Acceleration Intro](https://trac.ffmpeg.org/wiki/HWAccelIntro)

[vorbis]: https://en.wikipedia.org/wiki/Vorbis
[h264]: https://en.wikipedia.org/wiki/h264
[ffmpeg_keyframes]: https://stackoverflow.com/a/21422776/183120
[ffmpeg-stream-handle]: https://ffmpeg.org/ffmpeg-all.html#Stream-handling
[ffmpeg-stream-sel]: https://ffmpeg.org/ffmpeg-all.html#Automatic-stream-selection
[ffmpeg-map]: https://ffmpeg.org/ffmpeg-all.html#Advanced-options
[ffmpeg-seek]: https://trac.ffmpeg.org/wiki/Seeking#Combinedseeking
[ffmpeg-so-hwaccel]: https://stackoverflow.com/a/73238755/183120

## See Also

* [FFmpeg libav tutorial](https://github.com/leandromoreira/ffmpeg-libav-tutorial)
* [ffmprovisr](https://amiaopensource.github.io/ffmprovisr/)

[^transcode]: **Encode**: Raw/Uncompressed --[encode]→ Compressed frames.  **Transcode**: Compressed --[decode]→ Raw --[encode]→ Compress.  Transcode has an additional decode step and usually encodes to a different codec and/or with different parameters/filters.

# rclone

Tool to mount Cloud storage drives on Linux.

``` bash
yay -S --needed rclone-bin

# configure an account and associate a name
rclone config

# last two params: name and mount point
rclone mount --config=.config/rclone/rclone.conf --drive-use-trash --cache-tmp-upload-path=/tmp/rclone/upload --cache-chunk-path=/tmp/rclone/chunks --vfs-cache-mode=full gdrive:/ ~/cloud/gdrive
```

File manager, like Thunar, will show a new drive which can be used like other drives.

Refer [How To Mount OneDrive In Linux Using Rclone][rclone-mount]

[rclone-mount]: https://www.linuxuprising.com/2018/07/how-to-mount-onedrive-in-linux-using.html

# Emacs Calc

Built-in arbitrary precision [RPN][] calculator!  Refer [Calculator Cheat Sheet][blog-emacs-calc] for an updated list.

| Operation                              | Shortcut                                       |
|----------------------------------------|------------------------------------------------|
| Change Sign                            | `n`                                            |
| Reciprocal                             | `&`                                            |
| Integer Division                       | \                                              |
| Binary Word Size                       | `b w`                                          |
| Binary `{~,&,|,^,diff,<<,>>,arith >>}` | `b {n,a,o,x,d,l,r,R}`                          |
| Binary with 2’s Complement             | `O d 2`                                        |
| Floor, Round, Abs                      | `F`, `R`, `A` (l2-norm)                        |
| Leading Zeros                          | `d z`                                          |
| Digit Grouping                         | `d g`                                          |
| Floating-point Format                  | `d {s,f,n}` (scientific, fixed-point, default) |
| Set precision (not accuracy)           | `p` (default 7)                                |
| Square Root, Integer Sq. Root          | `Q`, `f Q`                                     |
| Change Radix                           | `d {2,6,0,"}` (bin, hex, dec, str)             |
| Change Angle Units                     | `m {r,d}` (rad, deg)                           |
| Prime {Factorization, Test, Next}      | `k f`, `k p`, `k n`                            |
| Permutation, Combination (n Choose k)  | `H k c`, `k c`                                 |
| ln, log10, log, int log                | `L`, `H L`, `B`, `f I`                         |
| Convert Fraction/Float                 | `c {F, f}`                                     |
| Rand with stack-top/prev. max          | `k {r,a}`                                      |
| Rand with shuffle                      | `k h`                                          |

[RPN]: https://en.wikipedia.org/wiki/Reverse_Polish_notation
[blog-emacs-calc]: https://legends2k.github.io/note/emacs_calc/

# dd

[Data duplicator][dd] is a powerful command that can do a variety of things.  At its core, it takes data from a source and copies it to a sink, performing conversion in between as requested.

Making a bootable USB with an ISO with `dd` as _root_:

``` bash
lsblk                                                        # find USB drive
umount /dev/sdX*                                             # unmount its partitions
dd bs=4M if=~/my.iso of=/dev/sdX conv=fsync status=progress  # copy ISO (overwriting USB's contents)
```

Setting optimal block size (`ibs`, `obs`, `bs`) improves speed greatly; for large transfers setting blocksize > default blocksize is better.  On Linux following can help; [see ArchWiki][dd-params].  If it’s going to be a large transfer better [benchmark with a script][dd-benchmark].

``` bash
cat /sys/block/sdX/queue/physical_block_size
blockdev --getpbsz /dev/sdX
fdisk -l /dev/sdX
```

Search for a binary pattern in a particular range of a file; be mindful that skip and count operate on ~~bytes~~ blocks.

``` bash
# read file using dd, print hex and search using less
sudo dd if=my_file ibs=4096 skip=9004 count=5 | od -A x -t x1z -v | less
```

Fill disk with `0xaa` from an offset onward

``` bash
cat /dev/zero | tr "\000" "\252" | dd of=/dev/sdb obs=4096 seek=1024 status=progress
```

[dd-benchmark]: https://serverfault.com/q/147935/139619

## References

* [How to create bootable usb drive using `dd` command?](https://www.ostechnix.com/how-to-create-bootable-usb-drive-using-dd-command/)
* [GH: bootiso](https://github.com/jsamr/bootiso)

[dd]: https://en.wikipedia.org/wiki/Dd_(Unix)
[dd-params]: https://wiki.archlinux.org/index.php/Securely_wipe_disk#Select_a_block_size

# od

[Octal Dump][od] is an octal, decimal, hex and ASCII converting filter.  Doubles as poor-man’s hex editor too:

``` bash
od -Ax -tx1 FILE
```

`-t` allows selection of various output formats.

Here’re a couple of ways to generate streams of random data

``` bash
# Save 10000 single-precision floats to float.txt
LANG=C od -f -A n --width=12 /dev/urandom | head -n 10000 > input.txt

# 3 MiB of 4-byte unsigned decimals to u4.txt
od -t u4 -A n -v -w4 /dev/urandom | dd bs=1M count=3 iflag=fullblock > u4.txt
```

!!! Warning
    `-w, --width` is a GNU extension with default `32`.

!!! Info: Linux: [`/dev/random` vs `/dev/urandom`][linux-rand-diff]
    `/dev/random` may block if kernel lacks enough entropy to be truly random; `/dev/urandom` will keep giving using pseudo-random techniques (_u_ means unlimited or unblocked).  [Later is almost always preferred][linux-urand], except in rare cases needing information-theoretic security (as opposed to computation security).

[od]: https://en.wikipedia.org/wiki/Od_(Unix)
[linux-rand-diff]: https://superuser.com/a/842506/50345
[linux-urand]: https://superuser.com/a/977304/50345

## References

* [SO: How to parse space separated floats in C++ quickly?](https://stackoverflow.com/questions/17465061/183120)
* [SO: Efficiently reading a very large text file in C++](https://stackoverflow.com/q/26736742/183120)
* [SE: How can I populate a file with random data?](https://unix.stackexchange.com/a/33629/183120)
* [How to generate secure random numbers in various programming languages?](https://paragonie.com/blog/2016/05/how-generate-secure-random-numbers-in-various-programming-languages)

# tr

> "`grep` is the filter of lines in a UNIX pipeline while `tr` is the filter and map of characters."

`tr` takes `SET1` and translates it to `SET2`:

``` bash
echo hello | tr eo oa
holla

# locale-aware
echo hello | tr [:lower:] [:upper:]
HELLO
```

`-d` deletes characters in `SET1`; `-c` builds `SET1` from _input’s complement_.  A combination gives a nice trick to filter out unwanted characters.
Here’s an example to generate a string of 4 bytes with just ASCII alpha-numeric characters:

``` bash
< /dev/urandom tr -cd "a-zA-Z0-9" | head -c 4; echo
```

!!! Note: BSD `tr`
    Set `LC_CTYPE=C` when specifying sets using range (`a-z`-like) notation e.g. `LC_CTYPE=C tr -dc a-z`.

`tr` can also squeeze repeats with `-s`; squeezing is the last step and takes the last `SET`:

``` bash
echo hello | tr -s eol oal
hola
```

`-ds` form deletes from `SET1` and squeezes with `SET2`.

# Data Summarization

There’re many non-cryptographic hash algorithms to generate file checksums.  [xxHash][] is one of the fastest.  Older alternative is MD5; `md5sum` (Coreutils) or `openssl dgst` (OpenSSL) utility to generate a checksum.  `info '(coreutils) md5sum invocation'` explains the trade-offs.

``` bash
# xxHash 128-bits; https://cyan4973.github.io/xxHash/
xxhsum -H128 linux.so
# xxHash 64-bits; same as: `xxh64sum`, `xxhsum -H1`, `xxhsum -H64`
xxhsum linux.so

# Print MD5 checksums
md5sum linux.iso
openssl dgst -md5 linux.iso
openssl md5 linux.so         # same as above

# Check SHA1 (160-bit) checksums against a stored checksum
sha1sum -c pre-digested-value.txt linux.iso
diff pre-digested-value.txt <(sha1sum -q linux.iso)   # same as above
sha1sum -q linux.iso | diff pre-digested-value.txt -  # same as above; mind the trailing '-'
```

`dgst` seems to have more options and supported encryptions; `openssl dgst -list` (or the more detailed `openssl list --digest-algorithms`) lists all supported algorithms.  For a utility that can produce more variety of hashes see [rhash][].

!!! Note
    Pipe connects one command’s output to another’s input.  With [Process Substitution][]  (`<(…)`) output of multiple commands (pipeline) can be fed as another’s input.  [Command Substitution][] (`$(…)`) won’t help here as output of the command is simply substituted in-place.  In the above command, using command substitution makes `diff` look for a file with digested value as name.

## References

* [How to sign and verify using OpenSSL](https://pagefault.blog/2019/04/22/how-to-sign-and-verify-using-openssl/)

[rhash]: https://github.com/rhash/RHash
[xxHash]: https://cyan4973.github.io/xxHash/
[Process Substitution]: https://tldp.org/LDP/abs/html/process-sub.html
[Command Substitution]: https://tldp.org/LDP/abs/html/commandsub.html

# Split/Join Large Files

macOS can’t write to NTFS, Windows can’t write to ext4, ... oh well!  USB drives are better left using FAT32 filesystem.  However, OS images often exceed 4GiB; split and join to rescue!

``` bash
split -n 3 LARGE.iso LARGE

cat LARGEa{a,b,c} > LARGE.iso
```

Generate and carry large file’s SHA256 digest to verify its integrity at destination.

# tee

Like the letter ‘T’, `tee` denotes a fork.  It copies its `STDIN` to `STDOUT` and requested files.

``` bash
ls | tee dir.txt                                  # copy output of ls to STDOUT (display) and dir.txt
ls -1 | tee dir.txt | wc -l                       # save and count number of files in PWD
od -t u4 -A n /dev/urandom | tee >(cmd1) >(cmd2)  # copy output of od to two processes
```

Use `-a` to append instead of overwrite.

## References

* [Tee command Usage Examples](https://linux.101hacks.com/unix/tee-command-examples/)
* [SO: Difference in pipe and file redirection](https://stackoverflow.com/a/33532589/183120)

# inxi

[inxi][] is a Perl script showing system specs (hardware info).  Usually invoked `inxi -Fxxx`.

[inxi]: https://github.com/smxi/inxi

# Process Continuation

Keep process(es) running even when not actively tracked/connected to it.

!!! Warning: `nohup` vs `disown`
    Though conflated as similar tools, `nohup` and `disown` are different, unrelated tools.  There’re instances where it makes sense to use them together.

``` bash
# make process ignore SIGHUPs by inheriting nohup's signal handler
nohup cp 1 2 &

# disable shell's job tracking
cp 1 2 & disown

# don't send SIGHUP at shell termination; keep job tracking
# process will respond to SIGHUPs; JOBSPEC as per `jobs`
disown -h JOBSPEC        # e.g. disown -h %1

# no hang ups, no job tracking
nohup cp 1 2 & disown

# send SIGHUP to process
kill -1 PID
```

* `nohup` is a POSIX-defined tool; `disown` is a shell built-in
* `nohup` has to be given at process launch; `disown` can be given later
* `nohup` makes the process ignore [`SIGHUP`][sighup] irrespective of sender
* `disown -h` makes shell not send `SIGHUP`[^fn1] upon _its_ termination; continues process tracking
  - Plain `disown` delists process from shell’s tracked jobs

!!! Tip: Afterthought
    If you forgot run in background (didn’t append `&`), `Ctrl + Z` to get the prompt back.  Use `bg` to resume the process in back/foreground.  If you forgot `nohup`, `disown -h` the job; get the `JOBSPEC` from `jobs` e.g. `disown -h %1`.

Refer [Unix & Linux SO][484283] for details.

## nohup over SSH

Initiate a remote command immune to SSH hang-ups

``` bash
# save command's STDOUT and STDERR separately
nohup COMMAND > cmd.out 2> cmd.err & disown

# save command's STDOUT and STDERR interleaved
nohup COMMAND &> std.log & diswon
```

Shell might warn about running jobs on exit; ignore it since `nohup` should take care of it; [refer][ssh-nohup].  If you don’t want the warning consider using `disown`.


[^fn1]: Shell sends `SIGHUP` only if it receives one or if it’s a login shell with `huponexit` set (`shopt -p`)
[sighup]: https://en.wikipedia.org/wiki/SIGHUP
[484283]: https://unix.stackexchange.com/a/484283/30580
[ssh-nohup]: https://linuxhandbook.com/nohup-command/

# sed

Find and replace across files with a single command.  Of course, `sed` can do much more but I use it mostly for this.  `s;Linux;OS;g` replaces all occurrences of `Linux` with `OS`.

Selecting specific line(s) and operating on them surgically is a piece of cake:

``` bash
sed -i '/HandleLidSwitch/{s/#//;s/ignore/suspend/}' /etc/systemd/logind.conf
```

It selects lines with `HandleLidSwitch`, removes `#` and replaces `ignore` with `suspend`.

* `-i [EXT]`: this is used to create a backup with `.EXT` as extension; `-i` plainly makes no backups and does in-place edits (dangerous)
* `-e`: a Sed command e.g. substitution `s`, append new like `G`, etc.; multiple `-e` work too
* `-E`: switch to Extended from Basic regex

# xargs

Build and execute commands on-the-fly by reading args from `STDIN`.

It’s a good idea to feed `\0` separated args; alternatives like newline or `SPC` may be risky since file names themselves could contain them.

``` bash

# 'echo' is called if no commands are specified
# read 2 lines and invoke echo once -- until STDIN hits EOF
xargs -L 2 < files.txt

# call sed for every item
find . -type f -print0 | xargs -0 -n 1 sed -i -e 's;Linux;OS;g'

# line count of all files in a directory
ls --zero | xargs -0 -I {} wc -l {}

xargs -0 -a my_files.txt -I% sed -i -e 's;Linux;OS;g' %
```

* `-n COUNT`: invoke command once per `COUNT` args
* `-I TOKEN`: replace occurrences of `TOKEN` in constructed command with args read
  - Constructing command with `-I` implies `-L 1`
* `-E EOF`: manual override for EOF marker; useful for early termination
* `-p`: prompt user for confirmation before every execution
* `-t`: echo command to `STDERR` before invocation
* `-P COUNT`: run up to `COUNT` processes at a time; default 1
* `-L COUNT`: invoke for every `COUNT` non-empty lines; pointless if args aren’t line-separated
* [GNU] `-r`: inhibit invoking command once even if input is empty (default behaviour)
* [GNU] `-d DELIM`: manually specify a delimiter
* [GNU] `-a FILE`: read args from FILE

Use [GNU Parallel][], the parallel counterpart of xargs.  Sharing many options with xargs, users of xargs and tee will find it very easy to use.

## References

* [8 Practical examples of Linux Xargs Command for Beginners](https://www.howtoforge.com/tutorial/linux-xargs-command/)

[GNU Parallel]: https://www.gnu.org/software/parallel/

# ImageMagick

Swiss-Army Knife of image formats and files; an amazingly versatile tool!

!!! Tip: GraphicsMagick and G’MIC
    [GraphicsMagick][graphicsmagick] is the stability-conscious fork of IM.  [G’MIC][gmic] is a competing command-line tool, C++ library and GIMP plugin; it’s pipeline building rules are more consistent that IM and GM; more [filter variety][gmic-commands] too.

!!! Tip: Globally-deployed subcommands
    `magick` is the command; `convert`, `identify`, etc. are subcommands.  Older versions exposed these as commands directly clashing with some system supplied utilities; hence the change.

!!! Note: non-sRGB inputs
    Most subcommands assume sRGB colourspace, so if you’re feeding a linear RGB output, make sure to specify it (`-colorspace RGB`) to maintain fidelity.

* Formats conversion; extension-based

``` bash
magick convert in.png out.jpg
magick convert in.png -quality 75 out.jpg
# use density for rasterization DPI and resize for PNG size
magick convert -density 2000x2000 -resize 1000x1000 image.svg image.png
```

* Resize

``` bash
# deducing height from aspect ratio
magick convert in.png -resize 325x out.jpg

magick convert in.png -resize 25% out.jpg

# seam carving without respecting aspect ratio (!)
magick convert in.png -liquid-rescale 75x100%\! out.jpg
```

* Print metadata

``` bash
magick identify -verbose FILE
```

* Print colourspace and channels; [refer][magick-escapes]

``` bash
magick identify -format '%[channels]' FILE
```

* Lossy metadata strip (image gets recompressed)

``` bash
# -strip strips colour profiles; so backup and reapply
magick convert a.jpg profile.icm
magick convert A.JPG -strip -profile profile.icm B.JPG

# a cleaner option (not part of ImageMagick)
exiv2 rm FILE
```

* Rotate and convert images into a PDF

``` bash
magick convert -rotate 180 -gravity center *.jpg out.pdf
```

* Convert PDF into image(s)

``` bash
# convert all pages into separate images
magick convert -density 300 -trim in.pdf -quality 100 -flatten output-%3d.jpg

# convert single page
magick convert -density 150 presentation.pdf[0] -quality 90 -resize 50% test.jpg
```

* Greyscale image

``` bash
magick convert color.png -colorspace Gray bw.png
```

[graphicsmagick]: http://www.graphicsmagick.org/
[gmic]: https://gmic.eu/
[gmic-commands]: https://gmic.eu/tutorial/command_guide.html
[magick-escapes]: https://imagemagick.org/script/escape.php

## References

* [Liquid Rescale - ImageMagick Manual](https://legacy.imagemagick.org/Usage/resize/#liquid-rescale)
* [Formats - ImageMagick Manual](http://www.imagemagick.org/script/formats.php)
* [Convert Images to PDF - Code Yarns](https://codeyarns.com/tech/2009-12-29-imagemagick-convert-images-to-pdf-document.html)
* [How to View Image Metadata on Linux](https://ostechnix.com/how-to-view-image-metadata-on-linux/)
* [Strategies For Compressing JPG Files With Imagemagick](https://dev.to/feldroy/til-strategies-for-compressing-jpg-files-with-imagemagick-5fn9)
* [How to convert SVG to PNG with imagemagick](https://onelinerhub.com/imagemagick/convert_svg_to_png)
* [How to Convert PDF to Images with Imagemagick](https://jdhao.github.io/2019/11/20/convert_pdf_to_image_imagemagick/)
* [How to remove exif from a JPG without losing image quality?](https://stackoverflow.com/q/2654281/183120)

# grep

Good ’ol, omnipresent (Unix) text search utility.

## Examples

``` bash
# ignore case, print line number, search recursively, ignore binary, use extended regex
grep -inrIE --color

# print non-matching files
grep -v -A
```

| Option                            | Flag                 |
|-----------------------------------|----------------------|
| Ignore case                       | `-i`                 |
| Search recursively                | `-r`                 |
| Print line number                 | `-n`                 |
| Use Extended Regex                | `-E`                 |
| Print after                       | `-A`                 |
| Print before                      | `-B`                 |
| Print before and after            | `-C`                 |
| Print count of matching line/file | `-c`                 |
| Output in colour                  | `--color`            |
| Print non-matching                | `-v`                 |
| Print only filenames              | `-l`                 |
| Print only non-matching filenames | `-L`                 |
| Stop after NUM matches            | `-m NUM`             |
| Ignore binaries                   | `-I`                 |
| Process binaries like text        | `-a`                 |
| Exclude files by GLOB             | `--exclude=GLOB`     |
| Exclude dirs by GLOB              | `--exclude-dir=GLOB` |
| Include files by GLOB             | `--include=GLOB`     |

!!! Tip: Basic vs Extended Regex
    GNU Grep just has one difference: `?`, `+`, `{`, `|`, `}`, `(`, `)` characters are taken literally; prefix with backslash to give special (regex) meaning.

!!! Note: GLOB
    Wildcard pattern matching is GLOBbing (“global” list of names are searched). Bash and grep use the same GLOB language.  `*` matches any string, `?` matches a single character and `[...]` matches one character from the set; set can have ranges (e.g. `[0-9]`) and classes (e.g. `[:alnum:]`); first character in set is `!` then any character _not_ in set is matched.

## References

* [Shell GLOB Patterns](https://teaching.idallen.com/cst8207/19w/notes/190_glob_patterns.html) by _Ian! D. Allen_

# ripgrep

Super fast, parallel text searching utility that ignores Git’s house-keeping files (`//.git`), hidden files, binaries, etc. and honours `.gitignore`.  Author says [ripgrep’s default search][rust-regex] engine is pretty close to [grep’s ERE][ere].

[rust-regex]: https://docs.rs/regex/latest/regex/
[ere]: https://www.gnu.org/software/grep/manual/html_node/Basic-vs-Extended.html

## Examples

``` bash
# list top 10 file based on include line count using ripgrep and gawk
rg -tcpp include | awk -e '{ sub(":#include", "", $1); incs[$1]++; } END { for (f in incs) { print incs[f] "\t" f; } }' | sort -rn | h
ead -10

# smart case search C and C++ headers in DIR matching GLOB and not EXCLUDE_GLOB
rg -th -g GLOB -g '!EXCLUDE_GLOB' -S needle DIR

# multiple GLOBs can be specified
rg -g '*.htm' -g '*.html'

# disable git-related smarts
rg -u

# search hidden files and directories
rg -uu

# disable all smart filtering
rg -uuu

# multi-line search
rg -tcpp -U -s 'namespace \{\n *constexpr '

# Add and use new type `mdd` for markdeep file extension; this is not persistent
rg --type-add 'mdd:*.md.html' --type-add 'txt:*.txt' -tmdd -ttxt -torg -tcpp -tc -tasm -tmd -S ulrich

# Batch replace a string with another using sed and xargs
rg -l --type-add 'mdd:*.md.html' --type-add 'txt:*.txt' -tmdd -ttxt -torg -0 -S 'casual-effects\.com' | xargs -0 sed -i -e 's;morgan3d.github.io;morgan3d.github.io;g'
```

## Options

| Option                 | Flag                             |
|------------------------|----------------------------------|
| File type              | `-tTYPE` (see `rg --type-list`)  |
| Glob files             | `-gGLOB` (prefix `!` to exclude) |
| Glob (ignoring case)   | `--iglob GLOB`                   |
| Max directory depth    | `--max-depth`                    |
| Limit file size        | `--max-filesize NUM+SUFFIX?`     |
| Limit match lines/file | `--max-count`, `-m`              |
| Fixed string matching  | `-F`                             |
| Disable smarts         | `-u` (up to `-uuu`)              |
| Smart casing           | `-S`                             |
| Pattern file           | `-f`                             |
| Word regexp            | `-w`                             |
| Line regexp            | `-x`                             |
| Print files in radar   | `--files`                        |
| Results as JSON        | `--json`                         |
| Multi-line mode        | `-U` / `--multiline`             |
| Add file type          | `--type-add 'TYPE:EXT_GLOB'`     |
| Replace in output      | `-r REPLACEMENT_TEXT`            |
| Search ASCII only      | `--no-unicode`                   |

`rg` borrows many options from `grep` like `-C`, `-a`, `-c`, `-v`, `-l`, etc.

ripgrep defaults to case-sensitive searches; use smart casing to search case-insensitive when needle is all smalls.

!!! Warning: GLOBs like ~~Bash~~ `gitignore`
    Two important differences: (a) `*` matches any character excluding `/`, while `**/` matches all directories, `/**` matches everything inside a directory and `/**/` matches 0+ directories.  Bash’s `globstar` option adds similar ability.  (b) Prefixing with `!` selects everything _not_ matching the pattern.  Bash’s `extglob` option adds similar ability e.g. `!(PATTERN)`

!!! Tip: Configuration
    Set `RIPGREP_CONFIG_PATH` to a configuration file containing an option per line.

!!! Warning: Multi-line mode caveats
    The regex character `.` doesn’t match `\n`; use `\n` explicitly.  Another alternate to match any character including newline use `\p{any}`.  This mode is slower than line-oriented searches and costlier memory-wise.

## References

* [globbing](https://github.com/begin/globbing)

# CMake

Though Premake, Meson and xmake have better syntax, CMake trumps in ubiquity e.g. Qt Creator doesn’t properly support Meson while CMake has full support.  However, you could use xmake to generate CMake project files: `xmake project -k cmake` 😃

``` bash
# Generation
## generate out-of-source build files for Ninja; enable warnings
cmake -B build -G Ninja -Wdev

## manipulate cache variables from command line e.g. generate compile_commands.json
cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=YES

# Build
## build all
cmake --build build

## enable verbose output if build system supports
cmake --build build -v

## rebuild; pass commands to build tool by marking end of options (--)
cmake --build build --clean-first -- VERBOSE=1

## build specific target(s); multiple -t allowed
cmake --build build -t clean -v

# Install
cmake --install DIR --prefix PREFIX --strip -v

# General
## dumps variable values too
cmake --system-information
```

CMake can show the build dependency graph as a [DOT graph][dot]; do `cmake --graphviz=test.dot -B build`.  Listing targets isn’t supported in CMake; use Ninja.  Turn on trace mode (`--trace`) for deeper debugging.

## References

1. [CMake Examples](https://github.com/ttroy50/cmake-examples/tree/master/02-sub-projects)
2. [Modern CMake](https://cliutils.gitlab.io/modern-cmake/chapters/intro/dodonot.html)

[dot]: https://en.wikipedia.org/wiki/DOT_(graph_description_language)

# Ninja

The _assembler_ of build tools but _fast_.

``` bash
# list all targets
ninja -t targets all

# clean all built files or specific targets'
ninja -t clean [TARGET1 ...]

# verbose; show build commands
ninja -v TARGET

# generate a compdb JSON
ninja -t compdb
```

`compdb` can be made to generate only for specific rule(s).  Use `ninja -t rules` to get a list of all rules.  These can be used with `ninja -t compdb [RULE1 ...]` or with `ninja -t targets rule [RULE1 ...]`.

## References

1. [Ninja Manual](https://ninja-build.org/manual.html#_extra_tools)

# youtube-dl

Command-line video downloader from services like YT, Vimeo, etc. written in Python.

* Get a list of formats offered

``` bash
youtube-dl --list-formats https://www.youtube.com/watch?v=xyz123
```

* Download a specific format

``` bash
youtube-dl -f 22 https://www.youtube.com/watch?v=xyz123
```

* Download audio-only

``` bash
youtube-dl -f 251 https://www.youtube.com/watch?v=xyz123
```

* Download videos with age restriction.

``` bash
youtube-dl -f bestvideo+bestaudio --merge-output mkv --cookies ~/tmp/cookies-youtube-com.txt https://www.youtube.com/watch?v=xyz123
```

!!! Tip: Cookies
    Log on to the service and use [Export Cookies][export-cookies] to download `cookies.txt`.

!!! Tip: Alternative
    _yt-dlp_ is a fork with additional features and fixes.

## References

* [Downloading Age Restricted Videos With Youtube-DL][dl-age]

[export-cookies]: https://github.com/rotemdan/ExportCookies
[dl-age]: https://brian.carnell.com/articles/2021/downloading-age-restricted-videos-with-youtube-dl/

# Poppler

`poppler-utils` has a bunch of useful PDF manipulation utilities.  All utilities take `-upw` or `-opw` to supply user or owner password.

* Split and merge PDF pages

``` bash
pdfseparate -f 3 -l 6 in.pdf out-%d.pdf
pdfunite in-1.pdf in-2.pdf out.pdf
```

* Show metadata
  - Only the first page:`pdfinfo FILE`
  - Specify pages: `pdfinfo –f 2 –l 3 example.pdf`

* Extract images: `pdfimages`

* Extract fonts: `pdffonts`

* Extract into plain text: `pdftotext`

* Convert
  - `pdftopng`
  - `pdftohtml`
  - `pdftocairo`: PNG, JPEG, TIFF, PDF, PS, EPS, SVG

* List/extract embedded files/attachments

``` bash
pdfdetach -list FILE
pdfdetach -saveall FILE
pdfdetach -save ATTACHMENT_NAME FILE
```

## References

* [How to join PDF pages using pdfunite](https://codeyarns.com/tech/2020-07-30-how-to-join-pdf-pages-using-pdfunite.html)

# qpdf

The open-source Swiss Army knife for content-preserving PDF transformations.

Make PDF from different ones

``` bash
# start with an empty PDF; you can specify one here if you want all its pages
qpdf --empty --pages IN1.pdf 5 IN2.pdf 4 IN3.pdf 6 -- OUT.pdf
```

Set password

``` bash
qpdf IN.pdf --encrypt USER_PASS ADMIN_PASS 256 -- OUT.pdf
```

# cpdf

This is the commercial counterpart of qpdf; free for non-commercial use.

Set password to a PDF

``` bash
cpdf -encrypt 128bit OWNERPASS USERPASS in.pdf -o out.pdf

```

Extract some pages from PDF

```
cpdf in.pdf 1,3-5,12-end -o out.pdf
```

# uuidgen

Generate 128-bit [universally unique identifier][uuid].  By default it prefers `--random` UUID generation if a high quality PRNG (like `/dev/random`) is available; it falls back to `--time`-based UUID generation otherwise.  The third class is hash-based UUIDs when you want to generate UUIDs for names within a namespace.  The BSD variant has just a `-hdr` option to change output format to C-header define.

!!! Tip: Random Password
    `openssl rand -hex 32` generates a random password.  But hey, remember [XKCD’s Password Strength][passwd-strength]!

[uuid]: https://en.wikipedia.org/wiki/Universally_unique_identifier
[passwd-strength]: https://xkcd.com/936/

# tsort

> Topological Sort: kind of graph traversal visiting each node after all its dependencies.

[`tsort`][tsort] prints most-dependent to least-dependent nodes of its input.  It expects an even number of elements separated by blanks.  Each pair is an arc in the DAG; use `island island` to denote a disconnected node; connected to itself.

``` bash
# use Here Documents for easier multi-line input
# https://en.wikipedia.org/wiki/Here_document
tsort << EOF
> main radius
> main printf
> radius hypot
> printf writeio
> EOF
main
printf
radius
writeio
hypot
```

`tsort` detects cycles and writes them to `STDERR`.

[tsort]: https://en.wikipedia.org/wiki/Tsort

# ping

Pings a hostname at regular intervals. By default it sends 56 + 8 (ICMP header) = 64 ICMP data bytes every second.

| Option                         | Flag       |
|--------------------------------|------------|
| Seconds between pings          | `-i 0.5`   |
| Limit to COUNT pings           | `-c PINGS` |
| Limit by seconds [Linux]       | `-w 16`    |
| Limit by seconds [macOS]       | `-t 16`    |
| Print only summary             | `-q`       |
| Change packet size             | `-s 512`   |
| Flood test network performance | `-f`       |

# wget

Ubiquitous GNU CLI downloader with many capabilities like mirroring (recursive downloading) a website locally.  `wget2`, successor of `wget`, has multi-threaded, multi-connection capabilities.

| Option                             | Flag                           |
|------------------------------------|--------------------------------|
| Input file                         | `-i URL_LIST_FILE`             |
| Output file name                   | `-O FILE_NAME`                 |
| Check URI existence                | `--spider`                     |
| Treat input file as HTML           | `-F` / `--force-html`          |
| Mirror mode                        | `-m` / `--mirror`              |
| Authentication Password            | `--password PWD`               |
| Prompt for password                | `--ask-password`               |
| Network operations timeout         | `-T` / `--timeout SECS`        |
| Retry count (default: 20)          | `-t` / `--tries`               |
| Only retrieve newer files          | `-N` / `--timestamping`        |
| Base URL for input items           | `-B` / `--base`                |
| Recursive download                 | `-r` / `--recursive`           |
| Recursion depth                    | `-l` / `--level`               |
| Convert link                       | `-k` / `--convert-links`       |
| Exclude directories                | `-X` / `--exclude-directories` |
| Load cookies from file             | `--load-cookies FILE`          |
| Save cookies to file               | `--save-cookies FILE`          |
| Override user agent                | `-U` / `--user-agent`          |
| Keep extension when auto-numbering | `--keep-extension`             |
| Ascend above parent directory      | `--parent off`                 |
| Display Progress                   | `--progress bar`               |
| Get a HTML’s dependencies          | `-p` / `--page-requisites`     |
| Adjust extension for local viewing | `-E` / `--adjust-extension`    |

!!! Tip: wget vs cURL
    This isn’t a right comparison.  _wget_ is a website downloader which understands HTTP/S, FTP and HTTP proxies.  _cURL_ is to transfer data to/from a server; it isn’t tailored to work with website but is meant to interact with remote servers at a lower level.  It understands 26 protocols and proxies like SOCKS5, SOCKS6, etc.

## Examples

``` bash
# report file existence
wget --spider https://bitbucket.org/multicoreware/x265_git/get/3.5.tar.gz

# mirror a website
wget2 -k --mirror https://mywebsi.te/
```

# Worth Knowing

* [Unison][]: Two-way file synchronisation tool; cross-platform with both CLI and GUI interfaces.
* [Cinderella][]: Interactive geometry construction, physics simulation with scripting

[Unison]: https://www.cis.upenn.edu/~bcpierce/unison/
[Cinderella]: http://cinderella.de/

# TODO

* basename, dirname
* pv: view data progress through pipes
* fzf
* mpv
* fdupes


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><link rel="stylesheet" href="https://morgan3d.github.io/markdeep/latest/apidoc.css?"><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'short'};</script>
