<meta charset="utf-8">

# Tracy Build

- Recommended to make Tracy Git submodule (quicker version updates)
- `//public` holds files interesting to client code.

Steps

1. Create a new build configuration: `RelProfiling`
  - Optionally enable AVX2; `/arch:AVX2` (MSVC) or `-mavx2` (GCC, Clang)
    + This wouldn’t affect (end-user facing) _Release_ build but improves profiling
2. Define `TRACY_ENABLE` for the whole project
3. Add `public/TracyClient.cpp` to project
4. Include `public/Tracy.hpp` to any file needing instrumentation
  - Mark end of a frame loop: `FrameMark`
  - Mark start of interesting functions: `ZoneScoped`
  - Name threads with `tracy::SetThreadName(name)`
5. Ensure _C/C++_ -> _General_ -> _Debug Information Format_ != _Program Database for Edit And Continue (`/ZI`)_

!!! Note: Unique string literals
    Compilers don’t guarantee same address for two identical string literals; Tracy expects it.  Create a header of `inline constexpr` string literals (C++17) of the ones passed to Tracy for proper handling.  Refer Tracy manual _§3.1.2 Unique pointers_.

!!! Warning: Multi-DLL Projects
    If application code is strewn across multiple DLLs that need to be instrumented then the aforementioned steps don’t work.  Build a `tracy.dll`, link all DLLs to it and let all of the to-be-instrumented code use that.  Refer Tracy manual _§2.1.5 Setup for multi-DLL projects_ for details.

## Available Macros

- `TRACY_ON_DEMAND`: Log only after server connection
  + Requires additional bookkeeping; incurs time overhead per profiling event
- `TRACY_NO_BROADCAST`: Disable local network broadcast by client; useful when server is local
- `TRACY_ONLY_LOCALHOST`: Listen only to localhost for server connection; useful when server is local
- `TRACY_NO_EXIT`: Await server connection even after program exits; useful for short-lived programs
  + Works as environment variable too
- `TRACY_NO_FRAME_IMAGE`: Disable when no frame capture is done to avoid frame compression thread rousing penalty
  + It’s client’s responsibility to capture frame image and hand to Tracy with `FrameImage`
- Check on toggling context switch capture

# Capturing Data

## Prerequisites

- Disable (in BIOS) the following CPU features as they’d skew profiling results
  + Turbo Mode
  + Power Saving
- Minimize noise; ensure all other applications are closed (even Visual Studio)

# References

1. Tracy manual

# See Also

1. [Speed Limits](https://travisdowns.github.io/blog/2019/06/11/speed-limits.html)


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
