<meta charset="utf-8">

    **Film Size, Focal Length and Field of View**

Real world cameras have film sizes like

* 35mm
* 70mm
* 36mm (Full Frame)

with different aspect ratios; refer [3](#references).

Film length $l$, focal length $d$ (distance between lens and image plane) and [angle of view][] $\theta$ are related by

$$
\tan{\frac{\theta}2} = \frac{l/2}{d} \\

\boxed{d = \frac{l}{2 \tan{\frac{\theta}2}}} \quad \boxed{\theta = 2 \tan^{-1} \left(\frac{l}{2d}\right)}
$$

Some software uses vertical FoV (i.e. $l$ is height) while others use horizontal FoV ($l$ is width).

# Example

For a full frame camera of film width 36mm ($l$), focal length 100mm ($d$), horizontal angle of view ($\theta$) will have to be

$$
\begin{align*}
\theta &= 2 \tan^{-1} \left( {\frac{36}{200}} \right)  \\
\theta &= 2 \tan^{-1} (0.18)                           \\
\theta &= 2 \times 10.2039737                          \\
\theta &= 20.41
\end{align*}
$$

# References

1. [Field of view and focal length][paul] - Paul Bourke
2. [Frustum FoV Zoom][fov_workout] - workout
3. [iClone 8 manual, § Film Back][film_backs]


[paul]: http://paulbourke.net/miscellaneous/lens/
[angle of view]: https://en.wikipedia.org/wiki/Angle_of_view
[fov_workout]: ../Calculations/Frustum_FoV_Zoom.jpg
[film_backs]: https://manual.reallusion.com/iClone-8/Content/ENU/8.0/20-Scene/Camera/Film_Back.htm

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
