<meta charset="utf-8">

    **Planes Geometry**

# Plane Equation

![Plane with normal N through P, Q, etc.](./plane.svg "Plane")

Given a plane's normal N ($\langle a , b, c \rangle$) and two points P (unknown) and Q (known) on it:

\begin{align*}
N \cdot (P - Q) &= 0 \\
ax + by + cz + d &= 0 \\
d = –N \cdot Q
\end{align*}

If d < 0, normal is away from origin or origin is behind the plane, flipped otherwise.

Plane L = $\langle N, d\rangle$.  Given an arbitrary point P = $(x, y, z, 1)$ if $L \cdot P = d'$

- = 0, $P$ is on the plane
- > 0, $P$ is in front of $L$ by distance $d'$
- < 0, $P$ is behind $L$ by distance $d'$


# Plane-Line Intersection

Assuming a line $L(t) = O + t V$ intersects plane $P$, for some $t$ we’d get a point on the plane (and the line).
Substituting in plane equation:

$$
P \cdot L(t) = 0 \\
$$

Decomposing to 3D:

$$
\langle N, d \rangle \cdot \langle L, 1 \rangle = 0 \\
(N \cdot (O + tV)) + d = 0 \\
N \cdot O + t N \cdot V + d = 0 \\
t = \frac{-(N \cdot O + d)}{N \cdot V}
$$

Moving back to 4D space

$$
t = \frac{-P \cdot O}{P \cdot V}
$$

If denominator is 0 -- normal and line direction are orthogonal -- then line is parallel to plane, if numerator is also zero then line lies in the plane.

# References

1. Mathematics for 3D Game Programming and Computer Graphics, 3/e


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
