<meta charset="utf-8">
    **Task-Based Parallelism**

<!-- Task Parallelism is at a level higher than using threads directly and may be more efficient; both dev-time and run-time -->
<!-- https://doc.akka.io/docs/akka/current/guide/actors-motivation.html -->
<!-- https://bwv1079.wordpress.com/2013/11/20/c11-task-based-concurrency-part-1/ the second part explains a simple task-based concurrency framework in C++ -->
<!-- https://www.bfilipek.com/2019/12/threading-loopers-cpp17.html -->
<!-- https://bartoszmilewski.com/2012/05/11/the-future-of-c-concurrency-and-parallelism/ has a succinct intro on task parallelism -->
<!-- https://github.com/p-ranav/task_system has links to Adobe’s chief scientist’s talk -->
<!-- https://eli.thegreenplace.net/2016/the-promises-and-challenges-of-stdasync-task-based-parallelism-in-c11/ -->
<!-- Libraries like cpp-taskflow, Intel TBB, Microsoft PPL, etc. exist because C++11’s attempts has flaws. Read up on thread pools; the crux of all task parallelism libraries. -->
<!-- https://gist.github.com/jrandom/ddb986d4e2c6e91926657736e97d2d54 is a very basic C++11 task pool implementation by j_random_hacker -->
<!-- https://github.com/cpp-taskflow/cpp-taskflow/blob/master/taskflow/threadpool/threadpool_cxx14.hpp is taskflow’s threadpool usable independently -->
<!-- https://software.intel.com/en-us/articles/do-it-yourself-game-task-scheduling/ -->
<!-- https://github.com/GameTechDev/GTS-GamesTaskScheduler -->


# Task vs Data Parallelism

[Data parallelism][] involves running the same task on different components of data.  GPUs do this at the hardware level; a bunch of vertices go through the same shader code (SPMD).  CPUs supports this with SIMD instruction sets e.g. SSE, AVX, AltiVec, Neon, etc.

[Task parallelism][] is running many different tasks at the same time on the same data.  A common type of task parallelism is pipelining which consists of moving a single set of data through a series of separate tasks where each task can execute independently of the others e.g. game engine, browser, etc. where each CPU-affine thread is responsible for a task like rendering, networking, I/O, etc.

Read about _Work stealing_.  Tasks are posted on a thread’s message queue by message passing.  In Go this is done via channels -- goroutines share data by communicating instead of communicating by sharing data.  Thread pools also do work stealing.

Task parallelism uses facilities provided by multi-core (each core with 1+ hardware threads/_execution units_[^fn1]), multi-processor, multi-socket machines; the OS abstracts these away from the programmer by the notion of logical CPUs -- each mapping to a hardware thread.  Eli Bendersky’s [C++11 thread, affinity and hyperthreading][cpu-affine-threads] explains CPU-affine threads and their benefits.  This is a low-level building block of the higher-level construct of task-based parallelism.

[Data parallelism]: https://en.wikipedia.org/wiki/Data_parallelism
[Task parallelism]: https://en.wikipedia.org/wiki/Task_parallelism
[cpu-affine-threads]: https://eli.thegreenplace.net/2016/c11-threads-affinity-and-hyperthreading/

# Digest of Jeff Preshing’s CppCon 2014 Talk

[How Ubisoft Develops Games for Multicore - Before and After C++11][jeff-multicore-programming]

Threading Patterns to Exploit Multicore Machines; each providing more fine-grained control over parallelism.

1. Pipelining: Two threads proceeding in lockstep fashion e.g. engine ↔ graphics
  - Engine thread prepares frame increments semaphore Graphics thread decrements
  - Race condition is avoided by two simple solutions
    + Two copies e.g. `mat4 xform[2]`
    + Separate data e.g. GraphicsObject::xform is written from Object::xform at frame start
2. Dedicated threads e.g. AI, physics, renderer
  - Separate loading thread with request queue
  - Coordinate with concurrent queue (using lock) and signal with event
  - Would be good to cancel or re-prioritize requests
3. Task schedulers
  - Task groups with each task run by a worker thread
  - Task groups help manage dependencies between the groups e.g. defer Physics group until Logic group completes

Jeff answers to someone’s question that at Ubisoft Montreal they only use _acquire-release_.

[jeff-multicore-programming]: https://www.youtube.com/watch?v=X1T3IQ4N-3g


[^fn1]: Intel’s hyper-threading is an example of more than one hardware thread residing in a core; though benefecial for some workloads, not so much for others; the threads not only share cache (beneficial) but also execution engine, system bus, instruction fetch and decode units, etc.


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
