<meta charset="utf-8">

    **System Call**

A programmatic way to request service from the kernel e.g. h/w-related services, creation, scheduling, execution of processes, etc.  Userland[^fn1] programs are under-privileged to access these facilities directly.

* Syscalls are ABIs to kernel-provided services
  - Available as assembly language instruction
* Each has a number, parameter count and designated registers for arguments and result
* Call transfers control from under-privileged user process to the kernel process
* syscalls are expensive as processor must
    + interrupt current task
    + switch context to kernel mode
    + switch context back to userland after syscall
  - [vDSO][] (Virtual Dynamic Shared Object) speeds up syscalls by dynamically mapping a part of every process’ memory to allow syscalling
    + Allows userland to call kernel routines in-process without mode switch performance penalty [[10](#references)]
    + Provides improved safety by address space layout randomization
* Syscalls have a special instruction
  - vDSO abstracts away the exact instruction
  - Legacy (, slower and x86-only) method: software interrupt (`int 0x80` on Linux), no special instruction

| Arch   | Instruction            | Vendor      |
|--------|------------------------|-------------|
| x86_64 | [`syscall`][syscall]   | AMD & Intel |
| x86    | `syscall` / `sysenter` | AMD / Intel |
| arm64  | `svc`                  | ARM         |

* High-level language wrappers are usually available in OS’s “blessed” library e.g. [libc][][^fn2]
  - Wrappers abstract away implementation- and platform-dependant specifics
  - Wrappers improve portability and modularity
  - Making syscall from userland, without a wrapper, involves writing assembly instruction(s)
  - Most OSes, except Linux, doesn’t support calling syscalls directly; recommends calling libc(-equivalent)
    + Linux: _[glibc][]_[^fn3]; Windows: _ntdll.dll_, macOS: _libSystem_
    + Linux is peculiar; guarantees ABI compatibility across updates
      * This is a reason for libc options: glibc, musl, dietlibc, uClibc, klibc, etc.
    + Other OSes have broken ABI compatibility; gives them freedom to make fix bugs, improve perf. etc.
      * They guarantee API (libc) stability across updates instead

# References

1. [ELF - Wikipedia](https://en.wikipedia.org/wiki/Executable_and_Linkable_Format): contains an excellent [visual breakdown by Ange Albertini](https://github.com/corkami/pics/blob/master/binary/elf101/elf101.pdf)
2. [Linux System Call Table](https://chromium.googlesource.com/chromiumos/docs/+/master/constants/syscalls.md)
3. [What is better “int 0x80” or “syscall” in 32-bit code on Linux?](https://stackoverflow.com/q/12806584/183120)
4. [Is `syscall` an instruction on x86_64?](https://stackoverflow.com/q/10583891/183120)
5. [Difference in ABI between x86_64 Linux functions and syscalls](https://stackoverflow.com/q/38577609/183120)
6. [Difference between INT 0X80 and SYSCALL](https://reverseengineering.stackexchange.com/q/16702)
7. [Intel x86 vs x64 system call](https://stackoverflow.com/q/15168822/183120)
8. [The Definitive Guide to Linux System Calls](https://blog.packagecloud.io/eng/2016/04/05/the-definitive-guide-to-linux-system-calls/#what-is-a-system-call)
9. [Can I use a system call?](https://news.ycombinator.com/item?id=32920227)
10. [vDSO - Wikipedia](https://en.wikipedia.org/wiki/VDSO)

[^fn1]: a.k.a [user space][]

[^fn2]: C standard library

[^fn3]: not to be confused with [GLib][] -- GNU library to compensate for lack of C++ stdlib-like facilities in C’s

[vDSO]: https://stackoverflow.com/q/12806584/183120
[syscall]: https://www.felixcloutier.com/x86/syscall
[libc]: https://en.wikipedia.org/wiki/C_standard_library
[glibc]: https://www.gnu.org/software/libc/
[Glib]: https://wiki.gnome.org/Projects/GLib
[user space]: https://en.wikipedia.org/wiki/User_space_and_kernel_space


<link rel="stylesheet" href="https://morgan3d.github.io/markdeep/latest/apidoc.css?">
<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
