// Sizes for PDF prints
@page {
    size: letter;
    margin: 0.5in 0.38in 0.44in 0.4in;
}

body > div > div {
	font-family: LibertineCaps;
	font-size: 14px;
	letter-spacing: 2px;
	width: 40%;
	margin-bottom: 15px;
}

body > div > div:nth-child(1) {
	width: 100%;
	font-size: 32px;
	letter-spacing: 6px;
	text-align: center;
	line-height: 75%;
}

body > div > div:nth-child(2) {
	float: left;
}

body > div > div:nth-child(3) {
	float: right;
	text-align: right;
	font-family: Libertine;
}

body > div {
	margin-bottom: 40px;
}

body > span:before {
	display: block;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px black solid;
	font-family: LibertineBold;
	font-weight: bold;
	content: attr(name);
}

body > span {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	clear: both;
}

.left {
	float: left;
	width: 60%;
	clear: none;
}

/* dates in right divs extend beyond the top border with default 96 width */
span.right > div[date] {
	width: 90%;
}

.right {
	float: right;
	width: 37.5%;
	clear: none;
}

div[date]:before {
	float: right;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	content: attr(date);
}

div[date] {
	float: left;
	width: 96%;
}

div[date] + * {
	clear: both;
}

div[detail]:after {
	font-family: LibertineItalic;
	font-style: italic;
	font-weight: normal;
	margin-left: 20px;
	content: attr(detail);
}

body > span > div {
	font-weight: bold;
	margin-left: 20px;
	margin-top: 5px;
    margin-bottom: 5px;
}

/* second level div for project titles */
body > span > span > div {
	font-weight: bold;
	margin-left: 20px;
	margin-top: 5px;
    margin-bottom: 5px;
}

body > span span {
	display: block;
	margin-left: 30px;
}

/* some spans have empty div, avoid indenting */
body > span > span.nodiv {
	margin-left: 20px;
	margin-bottom: 15px;
}

body > span > span {
	margin-left: 50px;
	margin-bottom: 15px;
}

body > span > *:last-child {
	margin-bottom: 0;
}

.compact > div:before {
	float: left;
	width: 20%;
	margin-left: 20px;
	text-align: left;
	font-family: LibertineBold;
	font-weight: bold;
	content: attr(name);
}

.compact > div {
	float: right;
	width: 100%;
	font-family: Libertine;
	font-weight: normal;
}

.compact > div:last-child {
	margin-bottom: 20px;
}


ul {
	margin: 0px;
}

slash:before, point:before, gap:before, dash:before{
	margin: 0px 5px;
}

slash:before {
	content: '/';
}

point:before {
	content: '\2022';
}

gap:before {
	content: '\0000a0';
}

dash:before {
	content: '\2013';
}

b, strong, th {
	font-family: LibertineBold;
	font-weight: bold;
}

tr {
	height: 25px;
}

strong {
	margin-right: 15px;
}

br + strong {
	margin-top: 5px;
	display: inline-block;
}

i {
	font-family: LibertineItalic;
	font-style: italic;
}

code {
    font-family: monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #0099FF;
}

a.email {
    text-decoration: none;
	color: #0099FF;
    font-family: Libertine;
	font-size: 14px;
	letter-spacing: 2px;
	width: 40%;
}

/* use to have logo list in the header */
/* http://stackoverflow.com/a/5206189 */
ul.blog_marks {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.blog_marks li {
    display: inline;
}

table {
	width: 96%;
	margin-left: 20px;
	border: 0;
}

th, td {
	text-align: left;
}

body > span:last-child {
	padding-bottom: 50px;
}

* {
	font-family: Libertine;
    text-align: justify;
	font-size: 16px;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-break: hyphenate;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@font-face {
	font-family: 'Libertine';
	src: url('fonts/LinLibertine_R.woff');
}

@font-face {
	font-family: 'LibertineBold';
	src: url('fonts/LinLibertine_RB.woff');
}

@font-face {
	font-family: 'LibertineItalic';
	src: url('fonts/LinLibertine_RI.woff');
}

@font-face {
	font-family: 'LibertineCaps';
	src: url('fonts/LinLibertine_aS.woff');
}
