<meta charset="utf-8" lang="en">
<style>h1::before, h2::before { content: none !important; }</style>

        **Computing Square Roots**
            Sundaram Ramaswamy

Consider the [single-valued](https://en.wikipedia.org/wiki/Single-valued_function), [univariate](https://en.wikipedia.org/wiki/Univariate) square function: $f(x) = y = x^2$.  The [zero of this function](https://en.wikipedia.org/wiki/Zero_of_a_function) i.e the function's root is $0$ since assigning any other value to $x$ would yield value other than zero.

However, consider the slightly modified [multivariate function](https://en.wikipedia.org/wiki/Function_of_several_real_variables):

$$
g(y, x) = y - x^2
$$

This function is now useful; keeping $y$ constant and solving for $x$ would yield us the square root of $y$.  For instance, we want to find $\sqrt{2}$; assigning $y = 2$, we get $h(x) = 2 - x^2$.  Solving $h(x)$ would give what we need.


# Approximation using Newton Raphson Method

[Newton Raphson's method](https://en.wikipedia.org/wiki/Newton's_method) involves iteratively finding approximations that quickly converge to the actual square root of a given number.  We know that the root of a function is where its graph intercepts the X axis; we find the tangent line at some guess value $x_0$.  This line's X intercept would be an approximation $x_1$ that'd be better than the $x_0$.  Repeating the process, we find the tangent line at $x_1$ whose X intercept would an even better approximation $x_2$ and so on.  This process can be stopped by some limiting error margin; eventually the generated value will converge with the actual square root of $y$.  Here's the math:

$$ z = g(y, x) = y - x^2 = 0 $$

This is a graph plotting the approximations of the square root of some $y$.  Finding the partial derivative of $g$ with respect to $x$, holding $y$ constant, we've

$$ g_x' = \frac{\partial g}{\partial x} = -2x $$

Consider the point-slope line equation, with slope $m$ and a known point $(x_0, y_0)$:

$$ L = (y - y_0) = m (x - x_0) $$

A tangent to a curve will pass through

1. a point on the curve at which it's tangential
2. an intersection point on the X axis where the corresponding $y = 0$

Let's take an arbitrary guess value for $x_0$.  Its corresponding $y_0$ is given by $g(y, x_0)$.  So we've the point $(x_0, g(y, x_0))$ which some tangent of $g(y, x_0)$ goes through.  The $y$ in the above equation is $0$ since we know that the X intercept of any line occurs at $y = 0$.  This fixes the two points in the above equation.  Let's deal with the slope.

Calculus tell us that the slope of the tangent line at a given point is the same as the function's derivative at that point i.e. $g_x'(x_0)$.  Substituting the points and the slope in the above equation where $x$ --- the value where the X intercept of the tangent occurs --- is the only unknown:

!!! WARNING
    Below $y$ is a variable of $g$ and is not to be confused with the $y$ in the point-slope equation $L$.

$$ (0 - g(y, x_0)) = -2x_0 (x - x_0) $$

$$ -(y - x_0^2) = -2x_0 (x - x_0) $$

$$ \frac{(y - x_0^2)}{2x_0} = (x - x_0) \tag{1} \label{1} $$

$$ x = x_0 + \frac{(y - x_0^2)}{2x_0} = \frac{2x_0^2 + y - x_0^2}{2x_0} $$

$$ x = \frac{x_0^2 + y}{2x_0} $$

This $x$ is a better approximation than $x_0$.  Take this as $x_1$ and repeat the process to get better approximations like $x_2, x_3, \ldots$ until needed.  Rearranging $\eqref{1}$ gives us the general Newton-Raphson's root finding approximation

$$ \fbox{ $x_{i+1} = x_i - \frac{f(x_i)}{f'(x_i)}$ } $$


# References

1. Calculus: Early Transcendentals, 6th Edition by James Stewart; _§4.8 Newton's Method_
2. Wikipedia: [Methods of computing square roots](https://en.wikipedia.org/wiki/Methods_of_computing_square_roots)

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none'};</script>
