<meta charset="utf-8">
    **Simple 2D Platformer**
      *Sundaram Ramaswamy*

A basic 2d level renderer + character controller.

* reads a JSON level spit by Tiled
* supports multiple tile layers
* reads ←, → and <kbd>space</kbd> to walk and jump character

See [design][] for details on character controller.

Sample tileset under `data/` comes from [Kenny.nl](https://kenney.nl/assets).

[design]: ./design.md.html

# Dependencies

| Library     | Version | Reason                                     |
|-------------|:-------:|--------------------------------------------|
| [raylib][]  | 2.0+    | window handling, image decoding, rendering |
| [jsoncpp][] | 1.9+    | parse level data                           |

Of course, faster JSON parsers like jsmn, sajson, gason and simdjson (absent in
MSYS2 repos) weren't explored.

[raylib]: https://www.raylib.com/
[jsoncpp]: https://github.com/open-source-parsers/jsoncpp

# To Do

1. Bug: character controller doesn’t respect target fps
2. Deduce executable path and load resources relative to it; not relative to `PWD`

# Credits

Thanks to

* Kenny for the neumerous free game assets
* Ramon Santamaria for _raylib_
* _jsoncpp_ team

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none'};</script>
