<meta charset="utf-8">

    **Fit Cubic Bézier Curve to Arc**
        *Sundaram Ramaswamy*

Consider an arc of angle $2\theta$, with the X-axis containing its midpoint, _M_.

![](figure.svg)

Cubic Bézier curves have the form
$$
B(t) = (1 - t)^3 P_0 + 3 (1 - t)^2 t P_1 + 3 (1 - t) t^2 P_2 + t^3 P_3
$$

We know that the end points of the curve should coincide with the arc.

$$
P_0 = (r \cos \theta, r \sin \theta)  \\

P_3 = (r \cos \theta, -r \sin \theta)
$$

The midpoint of the arc would be

$$
M = (r, 0)
$$

Fitting the curve with the midpoint as the constraint would mean

$$
B(\frac{1}{2}) = \frac {P_0}{8} + \frac {3P_1}{8} + \frac {3P_2}{8} + \frac{P_3}{8} = M \tag{1} \label{1}
$$

We know that the _x_ coorindates of both $P_1$ and $P_2$ would be the same and the _y_ values would be the negation of each other. Finding $P_1$ = _(a, b)_ would be enough to plot the curve.

$$
P_1x = P_2x = a  \\

P_1y = -P_2y = b
$$

Substituting $P_0, P_1, P_2, P_3$ and _M_ in equation $\eqref{1}$ and equating the _x_ values

$$
\frac {r \cos \theta} 8 + \frac {3a} 8 + \frac {3a} 8 + \frac {r \cos \theta} 8 = r  \\

\fbox {$a = \frac{r (4 - \cos \theta)}3$}
$$

Consider the ray _L_ originating from $P_0$ along the line $P_0P_1$. The direction vector _V_ of this ray would be perpendicular to line $OP_0$. Multiplying $P_0$ by $-i$ to rotate it clockwise by 90°, we have

$$
V = \langle r \sin \theta, -r \cos \theta \rangle    \\
\hat V = \langle \sin \theta, - \cos \theta \rangle
$$

$$
L(s) = P_0 + s \hat V \tag{2} \label{2}
$$

This ray would intersect the line $x = a$ at the point $P_1$ = (a, b). Since we know the value of _a_, we can use it to find the value of _s_, the ray's parameter. Using that the _y_ coordinate of $P_1$ may be found.

$$ L(s) = (a, b) $$

Substituting and equating the _x_ values in equation $\eqref{2}$

$$
r \cos \theta + s \sin \theta = a  \\
s = \frac{a - r\cos \theta}{\sin \theta}
$$

Substituting _s_, _a_ and _y_ values in equation $\eqref{2}$ and equating the _y_ values

$$
r \sin \theta - s \cos \theta = b  \\
r \sin \theta - (\frac {a - r \cos \theta}{\sin \theta}) \cos \theta = b   \\
r \sin \theta - (\frac{\frac{r(4 - \cos \theta)}3 - r \cos \theta}{\sin \theta}) \cos \theta = b   \\
r \sin \theta - (\frac {4 r \cos \theta (1 - \cos \theta)}{3 \sin \theta}) = b   \\
r (\frac{3 \sin^2 \theta - 4 \cos \theta + 4 \cos^2 \theta}{3 \sin \theta}) = b  \\
b = r (\frac{3 - 4 \cos \theta + \cos^2 \theta}{3 \sin \theta})  \\
\fbox {$b = r \frac{(3 - \cos \theta) (1 - \cos \theta)}{3 \sin \theta}$}
$$

Using _a_ and _b_, we have the control points.

$$
P_1 = (a, b)  \\
P_2 = (a, -b)
$$

The points $P_0, P_1, P_2, P_3$ can be rotated by the angle between the bisector and the X-axis to plot an arbitrary curve whose midpoint is not on the X-axis.

If the tangent vector is already known, $P_1$ can be calculated by scaling $\hat{L}$ by

$$
\frac{4 r} {3} \tan (\theta / 2)
$$

This can be arrived at by [simplifying the Euclidean distance equation between $P_0$ and $P_1$][simplification].

[simplification]: https://www.wolframalpha.com/input/?i=simplify+sqrt((r+cos+x+-+(r(4+-+cos+x)+%2F+3))%5E2+%2B+(r+sin+x+-+(r+(3+-+cos+x)(1+-+cos+x)%2F(3+sin+x)))%5E2)

# References

* [How to determine the control points of a Bézier curve that approximates a small circular arc](http://www.tinaja.com/glib/bezcirc2.pdf), Richard A. DeVeneza
* [Approximating Arcs Using Cubic Bézier Curves](https://www.joecridge.me/content/pdf/bezier-arcs.pdf), Joe Cridge
* [Approximation Of A Cubic Bezier Curve By Circular Arcs And Vice Versa](http://itc.ktu.lt/itc354/Riskus354.pdf), Aleksas Riškus
* [Approximate a circle with cubic Bézier curves](http://spencermortensen.com/articles/bezier-circle/), Spencer Mortensen
* [Approximating a Circular Arc With a Cubic Bezier Path](http://hansmuller-flex.blogspot.in/2011/04/approximating-circular-arc-with-cubic.html), Hans Muller
* [Drawing a circle with Bézier Curves](http://whizkidtech.redprince.net/bezier/circle/kappa/), G. Adam Stanislav


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none' };</script>
