    **Goroutines**
    _Effective Go_ condensation

> "Don't communicate by sharing memory; instead, share memory by communicating."
>
>    -- Robert "Rob" Pike
  
# Key Ideas

1. Lightweight, concurrently running functions sharing address space
2. Inspired by Tony Hoare's Communicating Sequential Processes (CSP) and UNIX pipes
    + Communication is the synchronizer; no need for other synchronization
3. Generalization of UNIX pipes with types
4. Costs little more than the allocation of stack space
5. Goroutines are multiplexed onto multiple OS threads; hides the complexity of thread creation and management
6. Functions and function literals are invoked in separate goroutines by prefixing `go`
7. Function literals are closures like in Lua and JavaScript


# Channels

1. Typed lines of communication between goroutines
2. Allocated using `make`, taking an optional buffer size
3. If buffer size is 0 (or omitted) it's a synchronous, blocking channel
4. When non-zero, blocks senders only when all slots in the buffer are occupied
5. **Unbufferd Channels**
    + Offer synchronization along with communication
    + Receiver blocks until data shows up in channel
    + Sender blocks until receiver receives value
6. **Buffered Channels**
    + Receiver blocks until data shows up in channel
    + Sender blocks only until data is copied to the buffer; receiver can read at leisure
    + If buffer full, sender blocks too
7. Buffered channels can be used like semaphores; signalling work completion, returning results, etc
8. When receiving as function parameters, [qualify channel's I/O type](https://gobyexample.com/channel-directions)
9. `close(c)` to [close a channel](https://gobyexample.com/closing-channels) thereby signalling receivers that it's no longer active
    + e.g. having an infinitely looping goroutine awaiting on a job queue channel
    + When reading from a channel, the optional second parameter is a `bool` signalling the channel's state
    + It's perfectly fine to close non-empty channels and read them thereafter; see below
10. `range` over a buffered channel slots like it's a slice
11. Use `for` to wait on a buffered channel and optionally run some code as data arrives: [worker pools](https://gobyexample.com/worker-pools)
12. Use `select` to wait on multiple, different channels; not to be confused with buffered channels
13. Use `default` case in `select` to not get blocked on a blocking channel read/write (even unbuffered ones when there's no receiver listening)
    + When having more than one non-default cases, it's called [multi-way non-blocking select](https://gobyexample.com/non-blocking-channel-operations)
14. Use `select` and `time.After` to set a [time-out when waiting](https://gobyexample.com/timeouts)
15. Use `sync.WaitGroup` to wait on multiple goroutines to finish up
    + Conceptually seems similar to Win32's `WaitForMultipleObjects`

# Low-level Primitives

1. Atomic instruction wrappers: `sync/atomic` has wrappers around special hardware instructions for atomicity like atomic-add, compare-and-swap, etc. [Example](https://gobyexample.com/atomic-counters).
2. Mutexes: traditional operating system primitives for locking resources exposed by the `sync` package.


# References

1. [Effective Go](https://golang.org/doc/effective_go.html)
2. [Multi-threading in Go](https://pragmacoders.com/multithreading-go-tutorial/)
3. [Go by Example](https://gobyexample.com/closing-channels)


<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script><script>window.markdeepOptions = { tocStyle: 'none', inlineCodeLang: 'go'};</script>
